/*
Template Name: EC模板堂正版授权模板
Template URI: http://www.ecmoban.com/
Description: 买模板请认准模板堂(ecmoban.com) <br/> 挑选优质商业模板：http://www.ecmoban.com/
Version: 2.73
Author: 进模板堂挑选更多ECSHOP模板
Author URI: http://www.ecmoban.com/
Logo filename: logo.gif
\\
*/



/* ====================
     公共样式
==================== */
body {
	
	font: 12px/1.5 microsoft yahei;
	color: #666;
	margin: 0;
	padding: 0
}
div {
	margin: 0 auto;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
	margin: 0;
	padding: 0;
	border: none;
	list-style-type: none;
}
.block {
	width: 1200px;
	margin: 0 auto;
}
.index_body .block {
	width: 1200px;
	margin: 0 auto;
}
.table td, .table th {
	padding: 5px;
}
.f_l {
	float: left;
}
.f_r {
	float: right;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.dis {
	display: block;
}
.inline {
	display: inline;
}
.none {
	display: none;
}
a {
	text-decoration: none;
	color: #000;
}
.dashed {
	background: url(images/lineBg.gif) repeat-x left top;
	color: #3f3f3f;
	padding: 2px 0 3px 12px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*html .clearfix {
	height: 1%;
}
*+html .clearfix {
	height: 1%;
}
/*英文强制换行*/
.word {
	word-break: break-all;
}
/*边框*/
.B_blue {
	border: 1px solid #e6e6e6;
}
.B_input {
	border: 1px solid #ccc;
}
.inputBg {
	border: 1px solid #b3b3b3;
	height: 23px;
	line-height: 23px;
}
label{ margin-right:20px}
/*字体颜色ecmoban.com*/
.f1 {
	color: #1f8657;
	font-weight: bold
}
.f2 {
	color: #1f8657;
	font-weight: bold;
	margin-right: 15px;
	font-size:14px;
}
.f3 {
	color: #9e9e9e;
}
.f4 {
	color: #009b72;
}
.f4_b {
	color: #009b72;
	font-weight: bold;
	font-size:16px;
}
.f5 {
	font-size: 14px;
	font-weight: bold;
}
.f6 {
	color: #009b72;
}
.market {
	font-size: 12px;
	text-decoration: line-through;
	color: #999
}
.shop {
	font-family: 'Arial';
	font-size: 22px;
	color: #f30;
	font-weight: bold
}
.market_s {
	text-decoration: line-through;
}
.shop_s {
	color: #f60;
	font-weight: bold
}
/*按钮部分*/
.bnt_blue {
	background: url(images/bg.gif) no-repeat 0px 0px;
	width: 52px;
	height: 21px;
	text-align: center;
	line-height: 20px;
	color: #333;
	border: none;
	cursor: pointer;
	overflow: hidden;
	*margin-bottom:3px;
}
.bnt_blue_1 {
	background: url(images/bg.gif) no-repeat 0px -663px;
	width: 77px;
	height: 21px;
	text-align: center;
	line-height: 19px;
	color: #333;
	border: none;
	cursor: pointer;
	overflow: hidden
}
.bnt_blue_2 {
	background: url(images/bg.gif) no-repeat 0px -696px;
	width: 139px;
	height: 21px;
	text-align: center;
	line-height: 20px;
	color: #333;
	border: none;
	cursor: pointer;
	overflow: hidden
}
.bnt_bonus {
	background: url(images/bg.gif) no-repeat -56px 0px;
	width: 52px;
	height: 21px;
	text-align: center;
	line-height: 22px;
	color: #333;
	border: none;
	cursor: pointer;
	overflow: hidden
}
/*box from ec moban*/
 
.box_1 {
	background-color: #fff;
}
.box_2 {
	border: 1px solid #ddd;
	background: url(images/box_2Bg.gif) repeat-x top left;
	background-color: #edf8fe;
}
.boxCenterList {
	padding: 8px;
}
/*模块标题*/
h3 {
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	text-align: right;
	padding: 0 12px;
	font-weight: 100;
	border-bottom:2px solid #009b72; 
}
h3.border {
	border: 1px solid #e2e2e2;
	border-bottom: none;
}
h3 img {
	position: relative;
	top: 7px;
}
h3 span {
	float: left;
	font-size:16px;
	height: 32px;
	line-height: 32px;
	text-align: left;
	font-weight: bold;
	color: #000;
	padding-left: 5px;
	font-family: "微软雅黑"
}
h3 a {
	color: #333;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size:14px;
}
h5 {
	height: 26px;
	line-height: 26px;
	text-align: right;
	background-color: #f6f6f6;
	font-size: 12px;
	color: #009b72;
	padding: 0 10px 0 0;
}
h5 span {
	float: left;
	font-weight: bold;
	padding-left: 15px;
}
h6 {
	height: 38px;
	line-height: 38px;
	text-align: right;
	font-size: 12px;
	color: #3f3f3f;
	border: 1px solid #fff;
	padding-right: 10px;
}
h6 span {
	float: left;
	padding-left: 15px;
	font-size: 16px;
}
/*页面留白*/
.blank {
	height: 15px;
	line-height: 15px;
	clear: both;
	visibility: hidden;
}
.blank5 {
	height: 5px;
	line-height: 5px;/* _margin:-3px 0;e c m o b a n*/
	clear: both;
	visibility: hidden;
}
/*布局*/
.AreaL {
	width: 190px;
	float: left;
}
.index_page .AreaL {
	background: #FFF
}
.AreaR {
	width: 1000px;
	float: right;
}
/* ====================
     导航部分
==================== */
.topWrap {
	height: 35px;
	margin: 0 auto;
}
.top_nav {
	height: 35px;
	line-height: 35px;
	background: #009b72;
	position: relative;
	z-index: 999999999
}
.top_bav_l {
	float: left
}
.top_bav_l li {
	float: left;
	color:#fff;
}
.top_bav_l .top_sc {
	border-left: 1px solid #47b488;
	border-right: 1px solid #47b488;
	padding: 0 20px;
	margin-right: 20px
}
.top_bav_l .top_sc:hover{
	background:#47b488;}
.top_bav_l .menuPopup {
	position: relative
}
.top_bav_l .top_nav_box {
	position: absolute;
	top: 35px;
	left: 0;
	line-height: 20px;
	border: 1px solid #eeeced;
	background: #f5f3f4;
	z-index: 100;
	display: none;
	width: 68px;
	padding: 0 5px;
}
.top_bav_l .top_weibo {
	width: 68px;
	padding: 0 5px;
}
.top_bav_l a.attention, .top_bav_l a.top_weixin, .top_bav_l a.top_weibo, .top_bav_l a.top_qq {
	background: url(images/headTop_icon.png) no-repeat;
}
.top_bav_l a {
	height: 35px;
	line-height: 35px;
	float: left
}
.top_bav_l a.attention {
	background-position: -14px 0;
	width: 18px;
	padding: 0 5px;
	float: left;
	margin-top: 6px;
	height: 29px;
}
.top_bav_l a.attention:hover {
	background-position: -64px 0;
}
.top_bav_l a.top_weixin {
	background-position: -131px 0;
	width: 19px;
	padding: 0 5px;
	float: left;
	margin-top: 6px;
	height: 29px;
}
.top_bav_l a.top_weibo {
	background-position: -14px 0;
	width: 18px;
	padding: 0 5px;
	float: left;
}
.top_bav_l a.top_weibo:hover {
	background-position: -64px 0;
}
.top_bav_l a.top_qq {
	background-position: -41px 0;
	width: 13px;
	padding: 0 5px;
	float: left;
	margin: 0 10px 0 5px;
}
.top_bav_l a.top_qq:hover {
	background-position: -97px 0;
}
.top_bav_l .weixinBox {
	width: 150px;
	height: 190px;
	left: -1px;
	position: absolute;
	top: 38px;
	left: 0;
	padding: 5px 0;
	line-height: 38px;
	border: 1px solid #eeeced;
	background: #f5f3f4;
	z-index: 100;
	display: none;
}
/* ====================
导航部分
==================== */

 /*头部左侧收藏我们与微博微信*/ 
.headTop_l a.top_weibo, .headTop_l a.top_qq, .headTop_l a.attention, .headTop_l a.top_weixin {
	background: url(images/headTop_icon.png) no-repeat;
}
.headTop_l {
	float: left;
	border-left: solid 1px #e8e8e8;
}
.headTop_l li {
	border-right: solid 1px #e8e8e8;
	float: left;
}
.headTop_l li span {
	display: block;
	padding: 0 5px 0 15px;
	line-height: 26px;
	float: left;
}
.headTop_l a {
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
}
.headTop_l a.attention {
	background-position: -14px 0;
	width: 18px;
	padding: 0 5px;
	float: left;
}
.headTop_l a.attention:hover {
	background-position: -64px 0;
}
.headTop_l a.top_weixin {
	background-position: -132px 0;
	width: 19px;
	padding: 0 5px;
	float: left;
}
.headTop_l a.top_weibo {
	background-position: -106px 0;
	width: 18px;
	padding: 0 5px;
	float: left;
}
.headTop_l a.top_weibo:hover {
	background-position: -279px 0;
}
.headTop_l a.top_qq {
	background-position: -133px 0;
	width: 13px;
	padding: 0 5px;
	float: left;
	margin: 0 10px 0 5px;
}
.headTop_l a.top_qq:hover {
	background-position: -312px 0;
}
.headTop_l .topPopUpNav {
}
.headTop_l .topPopUpNav a {
	line-height: 21px;
	text-indent: 12px;
	display: block;
	text-align: left;
}
.headTop_l .weixinBox {
	width: 150px;
	height: 190px;
	left: -1px;
}
.headTop_l .weiboBox {
	width: 68px;
	padding: 0 5px;
}
/*头部*/
.header {
	height: 35px;
	padding: 15px 0;
}
.header .top {
	text-align: left;
}
.header .top .right {
	color: #434a54;
	font-size: 12px;
	padding-top: 33px;
}
.header .top .right .menu {
	position: relative;
	float: right;
	display: inline-block;
	_display: inline;
	width: 335px;
	padding-top: 10px;
	margin-left: 0;
	margin-right: 105px;
}
.header .top .right .menu li {
	float: right;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-right: 1px solid #ccd1d9;
	padding: 0 15px 0 15px;
}
.header .top .right a {
	color: #434a54;
	text-decoration: none;
}
.header .top .right .search {
	position: relative;
	float: right;
	display: inline-block;
}
.header .top .right .search .txt {
	display: block;
	width: 245px;
	height: 32px;
	line-height: 32px;
	text-indent: 6px;
	border: 3px solid #f60;
	background: #fff;
	margin-bottom: 6px;
	color: #ccd1d9;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.header .top .right .search .mbtn {
	position: absolute;
	left: 322px;
	top: 0;
	z-index: 2;
	display: block;
	width: 50px;
	height: 40px;
	cursor: pointer;
	border: 0;
	background: 0;
}
.header .top .right .search .hot {
	display: block;
	text-align: left;
	color: #aab2bd;
}
.header .top .right .search .hot a {
	color: #aab2bd;
	margin-right: 6px;
}
.header .top .right .search .iconsear {
	position: absolute;
	left: 224px;
	top: 10px;
	z-index: 1;
	display: block;
	cursor: pointer;
	border: 0;
}
.icon-common-search {
	width: 17px;
	height: 18px;
	background-position: -223px -51px;
}
.logo {
	width: 106px;
	height: 36px;
	margin-right: 13px;
	cursor: pointer;
	overflow: hidden;
	float: left;
}
a.arr b, .headTop_l a.vancl, .headTop_l a.weibo, .headTop_l a.qq, .headTop_l a.attention, .headTop_l a.weixin, .top_shopCart, .top_shopCart a b, .keyword, #seachbtn, .items li s, .items li b, .pop-subcategory b {
	background: url(images/i_index_icon.png?v=2) no-repeat;
}
.headTop_r {
	float: right;
}
.headTop_r ul {
}
.headTop_r ul li {
	float: left;
	padding: 0 10px;
	height: 27px;
	line-height: 27px;
	background: url(images/i_top_line_bg.jpg) right no-repeat
}
.headTop_r ul li.welcomeVjia {
	text-align: right;
	border-right: solid 1px #e8e8e8;
	color: #818181;
	background: none
}
.headTop_r ul li.welcomeVjia span {
	padding-left: 25px;
}
ul.shoppingMes li.welcomeVjia .loginvjia {
	color: #dc0050;
}
.headTop_r ul li.menuPopup {
	width: 82px;
	padding: 0;
	text-align: center;
	position: relative;
	z-index: 100;
	display: block;
}
.headTop_r ul li.menuPopup a.arr {
	width: 82px;
	display: block;
	_padding: 4px 0;
}
.headTop_r ul li.menuPopup a.arr b {
	background-position: -165px -12px;
	display: inline-block;
	width: 7px;
	height: 5px;
	margin-left: 3px;
	vertical-align: middle;
}
.headTop_r ul li.menuPopup a.trak {
	position: absolute;
	border: 1px solid #e2e2e2;
	left: 0;
	border-bottom: none;
	z-index: 101;
	width: 80px;
	height: 27px;
	margin-top: -1px;
	background: #f5f3f4;
	color: #9a0002;
	-webkit-box-shadow: 1px 0 rgba(0,0,0,0.2);
	box-shadow: 1px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 0 rgba(0,0,0,0.2);
}
.headTop_r ul li.menuPopup a.trak b {
	background-position: -174px -12px;
}
.headTop_r .topPopUpNav {
	position: absolute;
	top: 26px;
	left: 0;
	padding: 5px 0;
	line-height: 20px;
	border: 1px solid #e2e2e2;
	background: #f5f3f4;
	z-index: 100;
	-webkit-box-shadow: 1px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px rgba(0,0,0,0.2);
	width: 80px;
	display: none;
}
.headTop_r .topPopUpNav a {
	line-height: 21px;
	text-indent: 12px;
	display: block;
	text-align: left;
}
.headTop_r .website {
	width: 220px;
	left: -140px;
}
.website dl {
	padding: 2px 0 0 15px;
	text-align: left;
}
.website dl dt {
	font-weight: bold;
}
.website dl dt.c1 {
	color: #FF731F
}
.website dl dt.c2 {
	color: #86BE13
}
.website dl dt.c3 {
	color: #F04782
}
.website dl dd {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 5px;
}
.website dl dd a {
	width: 65px;
	float: left;
	text-indent: 0;
}
/* log 搜索  购物车*/
.header_bg {
	background: #fff
}
.logo_wrap {
	position: relative;
	height: 100px;
}
.logo_wrap .logo_new {
	float: left;
	height: 59px;
	padding-top: 21px;
	width: 190px;
}
.logo_wrap .ng-gif-logo {
	float: left;
	height: 100px;
	width: 150px;
}
.ser_n {
	position: absolute;
	height: 100px;
	width: 600px;
	top: -7px;
	left: 425px;
}
.g-search {
	position: relative;
	float: right;
	display: inline;
	width: 560px;
	margin: 28px 0 0 0;
	z-index: 6790;
}
.g-search .search-icon {
	position: absolute;
	display: block;
	height: 34px;
	width: 34px;
	top: 2px;
	left: 2px;
	text-align: center;
	line-height: 34px;
	font-size: 18px;
	color: #ccc;
	background: url(images/search.jpg) no-repeat;
}
.g-search .search-keyword-box {
	float: left;
	width:430px;
	border-right: 0;
}
.g-search .search-keyword {
	width: 390px;
	float: left;
	height: 50px;
	margin-top: 0;
	padding: 0px 10px 0px 0;
	border: 0;
	_border: 0;
	background: #FFF;
	color: #BBB;
	font-size: 16px;
	line-height: 50px;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding-left:30px;
	border: 1px solid #cccccc;
	border-radius: 3px 0 0 3px;
}
.g-search .search-keyword:focus{
	border: 1px solid #2aad6f;}
.ser_n input {
	float: left
}
.g-search-hotwords {
  float: left;
  width: 100%;
  height: 18px;
  margin-top: 5px;
  overflow: hidden;
  _float: none;
  font-size: 0;
   color:#666;
}
.g-search-hotwords a {
  margin-right: 10px;
  white-space: nowrap;
  font-size: 12px;
}
.g-search .search-btn {
	 float:left;
  width: 130px;
  height: 52px;
  margin-top: 0;
  padding: 0 30px;
  border: 0;
  cursor: pointer;
  background: #2aad6f;
  font-weight: bold;
  font-family: 'MicroSoft YaHei';
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
.home-ann .ann-box {
  position: absolute;
  top: 21px;
  right: 0;
  width: 150px;
  height: 51px;
  border: 1px solid #e8e8e8;
  border-radius:4px;
}


.cart_info li .carts_num {
	background: url(images/cart_bg2.png) no-repeat ;
	color: #fff;
	text-align: center;
	height: 30px;
	line-height: 30px;
	width: 30px;
	position: absolute;
	right:6px;
	top: 8px;
	z-index:20;
}
.cart_info li .carts_num:hover {
	color: #fff
}
.bot_cart {
	background: #fff;
	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	box-shadow: 0 3px 8px rgba(51,51,51,0.6);
	-webkit-box-shadow: rgba(51,51,51,0.6) 0 3px 8px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 99;
}
.bot_cart .first {
	border-left: none;
}
.bot_cart li {
	float: left;
	border-right: 1px solid #fff;
	border-left: 1px solid #ccc;
	text-align: center;
	height: 34px;
	line-height: 34px;
	width: 140px;
	position: relative;
}
.bot_cart li a {
	display: block;
}
.bot_cart .last {
	border-right: 0;
}
.b_msg {
	background: url("images/im_remind.png") no-repeat;
	padding: 1px 8px;
	background-position: 0 0;
}
.bot_cart .carts_num {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	height: 16px;
	line-height: 16px;
	margin-right: -4px;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	top: -8px;
	right: 4px;
	background: #f60;
	color: #fff;
}
.cart_info li .i_cart {
	  position: absolute;
  top: 15px;
  right:9px;
  width: 29px;
  height: 28px;
  overflow: hidden;
  background:url(images/cart_bg.png) no-repeat;
}
.cart_info a.a_cart { 
  display:block;
  height: 52px;
  line-height: 52px;
  *line-height:16px;
  color: #7b7b7b;
  font-family: 'microsoft yahei'; 
  font-size:14px;
  font-weight:900;
  margin-left:15px;
  
}
.i_sina, .g_sina, .i_ren, .g_ren, .i_tx, .i_qzone, .g_qzone, .i_dban, .i_renren, .i_QQ, .i_baidu, .i_wangyi, .i_taobao, .i_house, .i_comm, .i_mail, .i_notice, .i_mob, .i_cart, .i_order, .i_search, .b_cart, .b_msg {
	background: url("images/mls_global140607.png") no-repeat;
	padding: 1px 8px;
}
.i_order {
	background-position: -223px -45px;
}
.cart_info li .carts_num a {
	color: #FFF;
	font-size:16px;
	font-weight:700;
}
.cart_info li span a:hover {
	color: #FFF;
}
/*页面主导航*/
.menu_box {
	position: relative;
	box-shadow: 0 3px 3px #e6e6e6;
  width: 100%;
  background: #fff;
  overflow: visible;
  height: 36px;
  z-index: 9;
}
.ng-sort{ display:none;}
.index_page .ng-sort {
  position: absolute;
  width: 190px;
  top: 1px;
  left: 50%;
  margin-left: -600px;
  font-family: "Microsoft Yahei";
  _top: 1px; display:block;
}

.ng-sort .ng-all-hook {
  position: relative;
  display: block;
  font-size: 14px;
  padding-left: 10px;
  text-decoration: none;
  background: #009b72;
  color: #fff;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
}
.ng-sort .ng-all-hook em { display:inline-block;
  font-size: 14px;
  margin:4px  10px 0 0;
  width: 15px;
  height:14px;
  font-weight: bold; background:url(images/icon2.png) no-repeat;
}
.ng-sort .ng-all-hook span {
  font-weight: 700;
}
.ng-sort .ng-all-hook b {
  position: absolute;
  display: inline-block;
  height: 5px;
  width: 190px;
  top: 35px;
  left: 0;
  overflow: hidden;
  background: url(images/npbg.png) no-repeat 0 -200px;
}
.menu_box .menu a {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	line-height: 36px;
	font-size: 15px;
	padding: 0 14px;
	text-align: center;
	color:#000;
	font-weight:bolder;
}

.menu_box .menu a.cur {
	color: #1f8657;
}
.menu_box .menu a:hover {
	color:#1f8657;
}
.index_page .menu_box .menu {
	padding-left: 240px;
}
/*当前位置*/
#ur_here {
	height: 24px;
	line-height: 24px;
	font-size:14px;
	padding-bottom:10px;
	border-bottom:1px solid #e5e5e5;
}
#ur_here a {
	color: #7b7b7b;
	text-decoration: none;
}
/* ====================
     模块
==================== */

   /*商品分类*/
  
#category_tree {
}
#category_tree .tit {
	background: #009b72;
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.index_page #category_tree dl{   background:#FFF; border:none; width:190px;*background:#fff; *height:406px;}
#category_tree dl {
	float: left;
	width: 188px;
	position: relative;
	padding:10px 0;
	font-size:14px;
}
#category_tree .dt {
	float: left;
  width: 190px;
  height: 34px;
  line-height: 34px;
	font-size:12px;
	position: relative;
	
}
#category_tree .dt .a {
	float: left;
  display: inline-block;
  padding-left:33px;
  color: #000;
  font-size:15px;
  font-weight:bold;
  white-space: nowrap;
	position: relative;
}
#category_tree .dt .a img {
	position: absolute;
	left: 15px;
	top: 12px; 
}
#category_tree .dt .t {
}
#category_tree .dt .a:hover {
	color: #1f8657; background:#fff;
}
#category_tree .current .a {
	color: #1f8657;
	width: 158px;
}
#category_tree .cate {
	line-height: 22px;
	font-weight: bold;
	padding: 5px;
}
#category_tree .cate .clearfix a {
	font-weight: normal;
	width: 100px;
	margin-right:5px;
}
#category_tree .cate .clearfix a:hover{ color:#1f8657;}
#category_tree dd {
	padding: 3px 10px 3px 10px;
	line-height: 24px;
	position: absolute;
	left:190px;
	top: 0;
	width: 400px;
	background: #fff;
}
#category_tree dd .over_3 {
	color: #000;
	text-decoration: none;
	padding-right: 10px;
	float: left;
	width: 90px;
}
#category_tree dd .clearfix {
	border-bottom: 1px solid #e5e5e5;
	line-height: 30px;
}
#category_tree dd .over_3:hover {
	color: #1f8657;
}
#category_tree dd .over_2 {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #1f8657;
	font-weight: bold;
	font-size:16px;
}
/*里页分类树*/	
	
#category_tree .cate h1 {
	font-size: 12px;
	font-weight: bold;
	font-family: "微软雅黑";
	height: 35px;
	line-height: 35px;
	border-top: 1px solid #eee
}
#category_tree .cate h1 a {
	font-size: 12px;
	color: #666
}
#category_tree .cate h1 a:hover{color:#1f8657;}
#category_tree {
}
.sale_box {
	width: 948px;
	float: right;
}
.sale_box .f1{ font-weight:normal; height:100px; *height:80px; line-height:22px; overflow:hidden; font-size:16px; text-align:center; margin-top:10px; padding:0 15px;}
.promtion_price{ font-size:16px; text-align:center;}
.promtion_price font{ font-size:22px; color:#1f8657; font-weight:bold;}
.sale_box .tit {
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #e6e6e6
}
.sale_box ul {
	float: left;
	width: 300px;
	height: 430px;
	padding: 7px;
	line-height: 22px;
	margin: 9px 0 0px 1px;
	border-right:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
}
.sale_box ul:nth-child(3){
	border-right:none;
}

.sale_box ul img {
	width: 275px;
	height: 275px;
	display:block;
	margin:0 auto;
}
/*销售排行*/
   
 
   
.top10Tit {
	background: url(images/bg.gif) no-repeat 0px -85px;
	height: 30px;
}
.top10List {
	background-color: #fff;
	margin: 0px 4px 4px 4px;
}
.top10List ul {
	border-bottom: 1px solid #ddd;
	position: relative;
}
.top10List .iteration {
	position: absolute;
	top: 6px;
	left: 6px;
}
.top10List .iteration1 {
	padding-left: 3px;
}
.top10List li.topimg {
	width: 90px;
	height: 90px;
}
.top10List .samllimg {
	width: 90px;
	height: 90px;
	margin-bottom: 4px;
}
.top10List li {
	padding: 3px 3px 3px 23px;
	float: left;
}
/*linkCOLOR*/
.top10List li a, #mallNews .NewsList li a, .boxCenterList li a {
	color: #3f3f3f;
	text-decoration: none;
}
.top10List li a:hover, #mallNews .NewsList li a:hover, .boxCenterList li a:hover {
	color: #1f8657;
}
.top10_1 {
	width: 223px;
	height: 106px;
	background: url(images/top10_1.gif) no-repeat
}
.top10_1 li {
	color: #FFF;
	font-size: 12px;
	font-weight: bold
}
.top10_1 li a {
	color: #FFF;
	font-weight: normal;
	display: block;
	padding-bottom: 7px;
}
.top10_1 li .f1 {
	color: #FFF
}
/*首页焦点图*/
 
#mallNews {
	float: left;
	width: 238px;
}
.newart_tit {
	width: 192px;
	height: 26px;
	line-height: 26px;
	background: url(images/newart_tit.gif);
	color: #c90707;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	color: #333;
	font-size: 12px;
	padding-left: 10px;
}
#mallNews .NewsList {
	background: #FFFFFF;
	padding: 7px;
}
#mallNews .NewsList ul {
	line-height: 25px;
}
#mallNews .NewsList li {
	background: url(images/bg.gif) no-repeat 0px -164px;
	padding: 0px 0px 0px 10px;
	line-height: 22px;
	height: 22px;
	margin: 7px 0;
	text-align: left;
	color: #666;
	overflow: hidden
}
#mallNews .NewsList li a {
	color: #666;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	font-size:14px;
}
/*今日特价和品牌*/
#sales {
	width: 500px;
	background: url(images/salesBg.gif) repeat-x left bottom;
	border-bottom: 2px solid #f0f1f3;
	background-color: #eef8ff;
}
#sales h1 {
	font-size: 12px;
	background: url(images/salesTitBg.gif) no-repeat;
	height: 33px;
	text-align: right;
}
#sales h1 img {
	position: relative;
	top: 10px;
	right: 8px;
}
#sales .goodBox {
	margin: 10px 0px 10px 10px;
	_margin-left: 5px;
}
#sales .goodBox .goodList p {
	text-align: left;
	color: #3f3f3f;
}
#sales .goodBox .goodList p a {
	color: #3f3f3f;
	text-decoration: none;
}
#sales .goodBox .goodList p a:hover {
	color: #f60;
	text-decoration: underline;
}
#sales .goodList {
	width: 110px;
	margin: 0px 5px 0px 5px;
	float: left;
}
#sales .goodList img {
	background: url(images/salesGoodBg.gif) no-repeat;
	width: 100px;
	height: 100px;
	padding: 5px;
}
#sales .goodList p {
	margin-top: 3px;
	text-align: center;
}
#brands {
	width: 247px;
	height: 199px;
*height:201px;
	padding: 1px 0 0 1px;
	position: relative;
}
#brands .brandsMore {
	position: absolute;
	left: 178px;
	bottom: 10px;
	width: 65px;
	height: 41px;
}
#brands .brandsMore img {
	border: none;
	width: 65px;
	height: 41px;
}
#brands img {
	width: 78px;
	height: 40px;
	border: 1px solid #e2e2e2;
}
#brands a {
	color: #0069cd;
	text-decoration: none;
	margin: 2px 1px;
	display: block;
	float: left;
}
.brandsIe6 {
	_width: 250px;
}/*在ie6下特价商品不存在的话品牌推荐永远靠右显示*/
/*精品推荐，新品上市，热卖商品*/
.centerPadd {
	overflow: hidden;
}
.box_3 {
	border: 1px solid #dedede;
	background: url(images/tit1.gif) repeat-x
}
.itemTit .tit {
	height: 32px;
	line-height: 32px;
	background: url(images/cat_tit_bg.gif) repeat-x;
	padding-right: 10px
}
.itemTit .tit .ss_class {
	float: right
}
.itemTit .tit .ss_class a {
	color: #666
}
.itemTit .tit .f_l {
	width: 180px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 25px;
	background: url(images/cat_tit_l.gif) no-repeat
}
.itemTit .tit .f_l a {
	color: #666;
	font-size: 16px;
	font-weight: bold
}
.itemBest_box .box_1 {
	border: 1px solid #bddbfd;
	background: #e6f2ff;
	padding: 15px 20px 5px 20px;
	margin-top: -1px;
}
.itemBest_box .f1 {
	color: #1e51a4;
	font-weight: bold
}
.itemBest_box .f1 a {
	color: #1e51a4;
}
.itemTit img {
	position: relative;
	top: 7px;
}
.itemTit h2 {
	height: 27px;
	line-height: 28px;
	border: none;
	background: none;
	font-size: 12px;
	text-align: center;
	color: #f90;
	font-weight: bold;
	padding: 0px 10px;
	display: inline;
	white-space: nowrap;
}
.itemTit h2 a {
	color: #f90;
	text-decoration: none;
}
.itemTit .h2bg {
	height: 27px;
	line-height: 28px;
	border: none;
	background: none;
	font-size: 12px;
	text-align: center;
	color: #666;
	font-weight: 100;
	padding: 0px 10px;
	display: inline;
	white-space: nowrap;
}
.itemTit .h2bg a {
	color: #666;
	text-decoration: none;
}
.centerPadd .goodsBox {
	border: 1px solid #d6ecff;
	background: #fff;
	padding: 12px 0px 0px 17px;
*padding:12px 0px 0px 17px;
	_padding: 12px 0px 0px 0px;
}
.centerPadd .goodsBox .more {
	text-align: right;
	clear: both;
	margin: 0 8px 8px 0;
}
/*单个商品*/
.goodsItem {
	width: 299px;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 10px 0 0 0;
	text-align: left;
	line-height: 20px;
	height: 430px;
	border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.goodsItem:nth-child(4){ border-right:none;}
.goodsBox .goodsItem:nth-child(3n){border-right:none;}
.goodsBox .goodsItem:nth-child(4){border-right:1px solid #e0e0e0;}
.goodsItems{margin: 8px 0 0px 8px;}
.goodsItem .goodsimg {
	width: 250px;
	height: 250px;
	margin-bottom: 4px;
	display:block;
	margin:0 auto;
}
.goodsItem p.f1 {
	font-size:16px;
	text-align: center;
	font-weight: normal;
	display: block;
	overflow: hidden; height:90px; line-height:20px;
	padding:0 15px;
}
.goodsItem p a {
	text-decoration: none;
}
.goodsItem p a:hover {
	text-decoration: none;
}
.goodsItem span {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.goodsItem span.best {
	background: url(images/bg.gif) no-repeat 0px -304px;
}
.goodsItem span.news {
	background: url(images/bg.gif) no-repeat -75px -304px;
}
.goodsItem span.hot {
	background: url(images/bg.gif) no-repeat -161px -304px;
}
.goods_cat {
	padding: 10px;
}
.goods_cat .goodsItem {
	padding: 5px 11px 15px 10px;
}
/*商品分类*/
.xm-box {
	position: relative;
	margin-bottom:10px;
}
.xm-box .title {
	position: relative;
  height: 44px;
  overflow: hidden;
  border-bottom:2px solid #009b72;
  margin-bottom:20px;
}
.xm-box .title .floor-icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  float: left;
  width: 5px;
  height: 44px;   background: #f50;
}
.xm-box .title  .floor-icon b {
  position: absolute;
  left: 5px;
  top: 0;
  width: 2px;
  height: 2px;
  background: url(images/bg.png) -250px -141px;
  overflow: hidden;
}
.xm-box .title  h2 {
  position: absolute;
  left: 0;
  top: 2px;
  z-index: 1;
  width: 191px;
 
  color: #000;
  font: bold 16px/44px 'microsoft yahei';
  text-indent: 19px;
  overflow: hidden;
}
.xm-box .title span {
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #f50
}
.xm-box .title .more {
	float: right;
	margin-right:10px;
	height: 44px;
	line-height: 44px;
	font-size:16px;
}
.top_nav .header_r {
	float: right;
	color: #fff;
}
.top_nav a {
	color: #fff;
	padding: 0 3px;
}
.top_nav {
}
.xm-boxs{ border:1px solid #e6e6e6;}
/*帮助*/
    

  
  /*帮助*/
   /*相关商品 模_板_堂_出_品*/
.boxCenterList ul {
	height: 1%;
	margin-bottom:10px;
}
.boxCenterList li {
	float: left;
	width: 110px;
	line-height: 20px;
}
.boxCenterList li.goodsimg {
	width: 52px;
	margin-right: 10px;
	float: left
}
.boxCenterList li.goodsimg img {
	width: 52px;
	height: 52px;
	display: block;
}
/*相关文章(其它带有小三角点的文字列表共用)*/
.RelaArticle a, .alone {
	background: url(images/bg.gif) no-repeat 0px -170px;
	padding: 0px 0px 0px 10px;
	color: #3f3f3f;
	text-decoration: none;
}
.RelaArticle a:hover {
	background: url(images/bg.gif) no-repeat 0px -170px;
	padding: 0px 0px 0px 10px;
	color: #f60;
	text-decoration: underline;
}
/*浏览历史，收藏*/
.history {
	border-bottom: 3px solid #009b72
}
.history h2 {
	height:50px;
	line-height: 50px;
	width: 160px;
	text-align: center;
	font-size: 16px;
	float: left;
	color: #fff;
	background: #009b72;
}
.history .h2bg {
	border-bottom: none;
	color: #666;
	height: 50px;
	line-height: 50px;
	width: 160px;
	background: none;
	font-size:16px;
}
#history li {
	width: 100%;
}
#clear_history a {
	background: none;
	padding: 0px;
	color: #3f3f3f;
	text-decoration: none;
	float: right;
	cursor: pointer;
}
.colle a {
	background: none;
	padding: 0px;
	color: #3f3f3f;
	text-decoration: none;
}
.colle a:hover {
	background: none;
	padding: 0px;
	color: #f60;
	text-decoration: underline;
}
/* ====================
     商品详情页面部分模块
==================== */
#goodsInfo {
	_height: 1%;
}
#goodsInfo h1 {
	overflow: hidden;
	font-family: arial, "microsoft yahei";
	font-size: 22px;
	text-align: left;
	color:#000;
}
#goodsInfo .imgInfo {
	width: 362px;
	float: left;
	padding-right: 10px;
}
#goodsInfo .imgInfo .thumb {
	width: 230px;
	height: 230px;
	display: block;
}/*商品详情图片*/
#goodsInfo span {
	width: 4px;
	height: 48px;
	background: url(images/bg.gif) no-repeat 0 -527px;
	float: left;
}
#goodsInfo span.spanR {
	width: 4px;
	height: 48px;
	background: url(images/bg.gif) no-repeat -5px -527px;
	float: right;
}
#goodsInfo .gallery {
	width: 204px;
	float: left;
	margin-left: 10px;
	_margin-left: 5px;
	overflow: hidden;
}
#goodsInfo .gallery ul {
	width: auto;
}
#goodsInfo .gallery li {
	float: left;
	width: 48px;
	margin: 0 2px;
}
#goodsInfo .gallery li img {
	width: 46px;
	height: 46px;
	display: block;
}
#goodsInfo .market {
	padding-left: 10px;
}
.textInfo ul strong {
	font-weight: normal
}
/*文字信息*/
#goodsInfo .textInfo {
	background: #fff;
	width: 570px;
	float: right;
	padding: 0px;
	font-size:14px;
}

#goodsInfo .textInfo p {
	font-size: 14px;
	font-weight: bold;
	padding: 0 5px 5px 8px;
}
#goodsInfo .textInfo ul {
	padding: 6px 0
}
#goodsInfo .textInfo li {
	padding: 6px 8px;
	_height: 1%;
}
#goodsInfo .textInfo select {
	width: 80px;
}
#goodsInfo .textInfo .ul2 {
	border-bottom: 1px solid #ccc;
}
#goodsInfo .textInfo .ul2 li {
	float: left;
	width: 40%;
}
#goodsInfo .textInfo ul li dd {
	float: left;
}
.bnt_ul {
	padding: 10px;
}
.bnt_ul img {
	vertical-align: middle
}
#goodsInfo .textInfo li dd {
}
#goodsInfo .textInfo li dd.ddR {
	border-left: 1px solid #eeecec;
	width: 48%;
	padding-left: 8px;
}
#goodsInfo .textInfo li dd.ddL {
	border-right: 1px solid #eeecec;
}
#goodsInfo .textInfo a {
	color: #009b72;
	text-decoration: underline;
}
#goodsInfo .textInfo .loop {
	margin-top: 0px;
}
.shuxin dt {
	border: 1px solid #ccc;
	text-align: center;
	font-weight: bold;
	color: #f60;
	margin-bottom: 3px;
}
.shuxin dd {
	width: 50%;
	float: left
}
.shuxin dd span {
	float: left;
	background: #eee;
	margin: 3px;
}
.shuxin dd .span1 {
	width: 125px;
	padding-left: 5px;
}
.shuxin dd .span2 {
	width: 220px;
	padding-left: 5px;
}
/*用户评论*/
.ie6 {
	padding-left: 25px;
	_padding-left: 15px;
	height: 1%;
}/*购买此商品的人还购买的商品*/
.comments li {
	background: url(images/lineBg.gif) repeat-x left bottom;
	padding: 3px 8px;
	width: 97%;
	_height: 1%;
	text-align: left;
	position: relative;
	margin-bottom: 8px;
}
.comments li img {
	position: absolute;
	right: 0px;
	top: 3px;
}
.comments li p {
	margin: 3px auto;
	text-align: left;
	padding-left:20px;
}
.commentsList {
	border: 1px solid #ccc;
	background: #f7f7f7;
	padding: 10px;
}
.commentsList .inputBorder {
	border: 1px solid #ccc;
	background: #fff;
}
.captcha {
	margin-left: 0px;
	position: relative;
*margin-left:8px;
*position:relative;
	top: 5px;
	cursor: pointer;
}
/* ====================
     品牌推荐
==================== */
    /*品牌列表*/
#brandList {
	margin-top: 12px;
	height: 1%;
}
#brandList .brandBox {
	width: 227px;
	_width: 236px;
	float: left;
	margin: 0 5px 20px 5px;
	text-align: center;
	overflow: hidden;
	height: 160px;
}
#brandList .brandBox .brandLogo {
	width: 188px;
	height: 52px;
	overflow: hidden;
}
#brandList .brandBox h4 {
	height: 23px;
	line-height: 23px;
	background: #e9e9e9;
	margin: 15px 0 8px 0;
	padding: 0 10px;
	text-align: right;
	font-weight: 100;
	font-size: 12px;
}
#brandList .brandBox h4 span, #brandList .brandBox h4 span a {
	float: left;
	font-weight: bold;
	color: #3f3f3f;
	text-decoration: none;
}
#brandList p {
	text-align: left;
	margin-bottom: 5px;
	color: #909090;
	padding: 8px;
}
#brandList p.brandCategory, #brandList p.brandCategory a {
	text-align: left;
	color: #006acd;
	text-decoration: none;
}
#brandList .brandArticle {
	border: 1px dashed #d9d9d9;
	background: #e2e2e2;
	text-align: left;
}
.brandCategoryA a {
	margin-right: 15px;
}
/* ====================
     用户中心
==================== */
.login_tab {
	background: url(images/login_tab_bg.gif) bottom no-repeat;
	height: 26px;
	margin-top: 22px;
}
.login_tab ul {
	padding-left: 70px;
}
.login_tab ul li.active {
	background-position: -122px 0;
	color: #fff;
}
.login_tab ul li.active a {
	color: #fff
}
.login_tab ul li {
	width: 116px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	float: left;
	background: url(images/login_tab_li.gif) no-repeat 0 0;
	margin-right: 6px;
	cursor: pointer;
}
.box_1 .userCenterBox {
	border: 4px solid #f8f8f8;
	background-color: #fff;
	font-size:14px;
}
.usBox {
	padding: 0 70px;
}
.usBox .inputBg {
	border: 1px solid #ccc;
	background: none
}
.usBox .inputBg {
	width: 210px;
}
.usBox form {
	padding: 20px 0
}
.usBox_1 {
	background: #fff;
	text-align: left;
	width: 620px;
}
.logtitle {
	height: 35px;
	background: url(images/user_tit1.gif) no-repeat 0px 0px;
}
.logtitle3 {
	height: 35px;
	background: url(images/user_tit3.gif) no-repeat 0px 0px;
}
.us_Submit {
	border: none;
	width: 125px;
	height: 40px;
	background: url(images/bnt_ur_log.gif)
}
.us_Submit_reg {
	border: none;
	width: 125px;
	height: 40px;
	background: url(images/bnt_ur_reg.gif);
}
.usTxt {
	float: right;
	padding: 3px;
	border: solid 1px #e4e4e4;
}
.regtitle {
	width: 510px;
	height: 35px;
	background: url(images/user_tit2.gif)
}
.usTxt img {
}
/*注册*/
.usBox_2 {
	background: #fff url(images/usBox_2bg.gif) 550px center no-repeat;
	text-align: left;
	padding: 43px 153px 60px 123px;
}
.usBox_2 .regtitle {
	height: 30px;
	background: url(images/ur_bg.gif) no-repeat 0px -34px;
}
.actionSub a {
	color: #000;
	text-decoration: underline;
	background: url(images/ur_bg.gif) no-repeat 0px -68px;
	padding-left: 14px;
}
.box_1 .userCenterBox .userMenu a {
	display: block;
	height: 25px;
	line-height: 25px;
	background: url(images/menuBg.gif) no-repeat 0 -30px;
	color: #3f3f3f;
	text-decoration: none;
	margin: 0 0 3px 10px;
	padding-left: 3px;
}
.box_1 .userCenterBox .userMenu a.curs {
	background: url(images/menuBg.gif) no-repeat 0 0px;
	font-weight: bold;
}
.box_1 .userCenterBox .userMenu a img {
	margin-right: 3px;
}
.msgBottomBorder {
	clear: both;
	background: url(images/lineBg.gif) repeat-x left bottom;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
/* ====================
     商品分类页面
==================== */
    /*属性组合搜索*/
.screeBox {
	padding: 20px;
	font-size:14px;
}
.screeBox a {
	color: #404040;
}
.screeBox span {
	background: #009b72;
	color: #FFFFFF;
	padding: 3px 5px;
	margin: 0 3px;
}
.sort a {
	position: relative;
	bottom: 3px;
}
.sort input {
	position: relative;
	top: 5px;
	*top:3px;
}
/*商品列表显示方式*/
.goodsList {
	padding: 10px 10px 0 10px;
}
.goodsList ul {
	margin-bottom: 10px;
}
.goodsList ul#bgcolor {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.goodsList li {
	float: left;
}
.goodsList a {
	text-decoration: none;
	color: #f60
}
.goodsList li.thumb {
	text-align: center;
}
.goodsList li.thumb img {
	padding: 1px;
	width: 250px;
	height: 250px;
}
.goodsList li.goodsName {
	width: 480px;
	margin-right: 10px;
	font-size: 12px;
	margin-top:90px;
}
.goodsList li.goodsName .div_name {
	height:100px;
}
.goodsList li.goodsName a {
	font-size: 18px;
	font-weight: bold;
	color: #000
}
.goodsList li.goodsName .bnt_blue {
	color: #f60;
	font-size: 12px;
	float: left;
	font-weight: normal;
	margin-right: 10px;
}
.goodsList li.action {
	float: right;
	margin-left: 10px;
	line-height: 25px;
	margin-top:80px;
}
/* ====================
     团购
==================== */
.group {
	padding: 8px;
}
.group li {
	float: left;
	background: #fff;
	padding: 8px;
	font-size:14px;
}
.group .f_l {
	width:360px;
	height:360px;
	text-align: center
}
.group .f_r {
	width: 575px;
	line-height: 23px;
	text-align: left
}
/* ====================
     购物流程
==================== */
.flowBox {
	padding-bottom: 5px;
	font-size:14px;
}
.flowBox h6 {
	color: #000;
	font-weight: bold;
	border-bottom:2px solid #009b72;
}
.flowBox table {
	margin: 5px auto;
}
/*2.62在购物车里面显示相关配件*/
.flowGoodsFittings {
}
.flowGoodsFittings ul {
	height:430px;
	width: 299px;
	float: left;
	border-bottom:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	
}
.flowGoodsFittings ul:nth-child(4){border-right:none;}
.flowGoodsFittings li {
	float: left;
	width: 299px;
	font-size: 12px;
	line-height: 22px;
}
.flowGoodsFittings li p {
	float: left;
	font-size: 16px;
	line-height: 22px;
	height: 90px;
	text-align:center;
	padding:0 15px;
	width:259px;
}
.flowGoodsFittings li.goodsimg {
	width: 299px;
}
.flowGoodsFittings li.goodsimg img {
	width: 250px;
	height: 250px;
	display: block;
	margin:0 auto;
}
/* ====================
     文章列表页-2009.6.8
==================== */
.article_search {
	margin: 8px 0;
}
.article_search .inputBg {
	width: 300px;
}
/* ====================
    打印报价单
==================== */
.quotation {
	margin: 20px auto 20px auto;
	text-align: center;
}
/*翻页*/
.pagebar {
	height: 20px;
	color: #666;
	font-size:16px;
	float:right;
	margin:10px 0;
}
.pagebar img {
	position: relative;
	top: 2px;
}
.pagebar a {
	display: block;
	float: left;
	margin: 0 2px;
	color: #666;
	text-decoration: none;
}
.pagebar a:hover {
	color: #f60;
	text-decoration: none;
}
.pagebar .page_now {
	display: block;
	float: left;
	margin: 0 5px;
	color: #1f8657;
	font-weight: bold;
	background: #fff;
}
#pager a {
	color: #666;
	text-decoration: none;
}
/*底部导航+友情链接*/
#bottomNav {
	width: 1200px;
}
#bottomNav a {
	color: #555;
	text-decoration: none;
	display: inline-block;
	padding: 0 30px;
	vertical-align: middle;
}
#bottomNav2 {
	width: 948px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #f9f6f4;
	border: 1px solid #ddd;
}
#bottomNav2 a {
	color: #333;
	text-decoration: none;
	padding: 0 10px;
}
/*底部*/

.ng-footer {
  font-family: "Microsoft Yahei";
  height: 499px;
}
.ng-footer .ng-ser-box {
  width: 100%;
  background: #fff;
  margin-top:50px;
}
.ng-footer .ng-ser-box-con {
  margin: 0 auto;
  overflow: hidden;
}
.ng-footer .ng-promise {
  width: 1250px;
  padding: 30px 0;
}
.ng-footer .ng-promise dl {
  float: left;
  width: 310px;
  overflow: hidden;
}

.ng-footer .ng-promise dt {
  float: left;
  width: 80px;
  height: 80px;
  text-indent: -999em;
  overflow: hidden;
  margin-right: 8px;
}
.ng-footer .ng-promise dt.zheng {
  background: url(images/foot.png) no-repeat 0 0;
}
.ng-footer .ng-promise dt.jisu {
  background: url(images/foot.png) no-repeat -80px 0;
}
.ng-footer .ng-promise dt.wuyou {
  background: url(images/foot.png) no-repeat -160px 0 ;
}
.ng-footer .ng-promise dt.te {
  background: url(images/foot.png) no-repeat -240px 0 ;
}
.ng-footer .ng-promise dd {
  float: left;
  height: 48px;
  width: 180px;
  margin:10px 0 0 10px;
}
.ng-footer .ng-promise dd p {
  line-height: 24px;
  width: 100%;
  color: #545454;
}
.ng-footer .ng-promise dd p strong {
  font-weight: 700;
  color: #222;
  font-size: 16px;
}
.ng-footer .ng-promise dd p strong a{ color:#000; text-decoration:none;}
.ng-footer .ng-help-box {
  float: left;
  width:1200px;
  height: 180px;
}
.ng-footer .ng-help-box dl {
  float: left;
  height: 160px;
  width: 230px;
  text-align:center;
}
.ng-footer .ng-help-box dt {
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  color: #1f8657;
  height: 35px;
  font-size: 18px;
  overflow: hidden;
  margin-bottom:20px;
}
.ng-footer .ng-help-box dd {
  width: 100%;
  line-height: 30px;
}
.ng-footer .ng-help-box dd a {
  color: #7b7b7b;
  font-size:14px;
}
.ng-footer .ng-app-down {
  float: left;
  height: 180px;
  width: 90px;
}
.ng-footer .ng-hot-line p, .ng-footer .ng-app-down p {
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  color: #545454;
  height: 35px;
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
}
.ng-footer .ng-ser-box-con {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.ng-footer .ng-new-pro {
  position: relative;
  width: 100%;
  height: 125px;
  border-top:1px solid #ededed;
  border-bottom:1px solid #ededed;
}
.ng-footer .ng-new-pro-con {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding:20px 0;
}
.ng-footer .ng-new-pro-list {
  float: left;
 width: 850px;
  margin-left: -50px;
  height: 125px;
  color: #eee;
}
.ng-footer .ng-new-pro-list dl {
  float: left;
  height: 100px;
 padding: 0 50px;
  width: 324px;
  margin-top: 12px;
  border-right: 1px dotted #444;
}
.ng-footer .ng-new-pro-list dt {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 20px;
  margin-top: 5px;
}
.ng-footer .ng-new-pro-list dd {
  float: left;
  height: 100px;
    width: 224px;
}
.ng-footer .ng-new-pro-list dd p.ng-title {
  line-height: 25px;
  font-size: 14px;
  font-weight: 700;
}
.ng-footer .ng-new-pro-list dd p.ng-title a {
  color: #eee;
}
.ng-footer .ng-new-pro-list dd p.ng-intro {
  line-height: 18px;
}
.ng-footer .ng-new-pro-list dd p.ng-intro a {
  color: #fff;
  text-decoration: none;
}
.ng-footer .ng-serch-suning {
  float: left;
  width: 390px;
  height: 100px;
  margin-top: 10px;
}
.ng-footer .ng-serch-suning dt {
  float: left;
  height: 94px;
  width: 140px;
  margin-top: 3px;
  background: url(images/npbg.png) 0 -50px no-repeat;
}
.ng-footer .ng-serch-suning dd {
  float: left;
  height: 100px;
  width: 190px;
  color: #eee;
}
.ng-s-footer {
  width: 100%;
  padding-top:20px;
}
.ng-s-footer .ng-s-f-con {
  height: 105px;
  width: 1200px;
  min-width: 990px;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
}
.ng-s-footer p.ng-url-list a {
  color: #000;
}
.ng-url-list{ text-align:center;}
.ng-s-footer p.ng-url-list span {
  color: #888;
  padding: 0 8px;
}
.ng-s-footer div.ng-copyright {
  float: left;
  width: 1200px;
  line-height: 25px;
  color: #999;
  height: 25px;
  font-size:14px;
  text-align:center;
  margin-bottom:10px;
}
.ng-s-footer .ng-authentication {
  height: 25px;
  width: 350px;
  margin-top: 5px;
}
.ng-s-footer .ng-authentication a {
  display: inline-block;
  margin-right: 8px;
}
.ng-s-footer .ng-s-f-con {
  height: 105px;
  width: 1200px;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
}
/*智能提示弹出层*/ .vjia-suggest-container {
	display: none;
	width: 306px;
	position: absolute;
	top: 27px;
	left: 0;
	border: 1px solid #b3b3b3;
	background-color: #fff;
	z-index: 98;
}
.full .vjia-suggest-container {
	width: 406px;
}
.vjia-suggest-container ol {
	border-bottom: 3px solid #d8d8d8;
	list-style: none;
	margin: 0;
	padding: 0;
}
.vjia-suggest-container ol li {
	height: 25px;
	line-height: 24px;
	padding-left: 9px;
	cursor: default;
}
.vjia-suggest-container ol .selected {
	background-color: #d80732;
	color: #fff;
}
/*购物车提示点击更新按钮式样2.6.2版本添加*/
.messageli {
	list-style-type: none;
	padding: 5px;
	color: red
}
.messagediv {
	font-size: 12px;
	position: absolute;
	border: 1px solid #FFD700;
	text-align: center;
	padding: 5px;
	background-color: #FFFACD;
	filter: alpha(opacity=50);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
/* ======商品比较浮动块 ====== */
#compareBox {
	background: url(images/comparebox.gif) no-repeat;
	width: 140px;
	position: absolute;
	right: 1px;
	top: 200px;
	padding-top: 21px;
}
#compareBox input {
	width: 140px;
	height: 26px;
	border: none;
	background: url(images/compareSub.jpg) no-repeat;
}
#compareBox input:hover{ cursor:pointer;}
#compareList {
	padding: 0px;
	width: 138px;
	background: #FFFFFF;
	border: 1px solid #009b72;
	border-bottom: none;
	padding-top: 5px;
}
#compareList li {
	color: #333;
	text-align: left;
	background: #ecfdf9;
	padding: 3px 5px;
	margin: 0 5px 5px 5px;
	border: 1px solid #61c1a8
}
#compareList li img {
	float: right;
	padding-top: 4px;
}
/*购物车提示点击更新按钮式样2.6.2版本添加*/
.messageli {
	list-style-type: none;
	padding: 5px;
	color: red
}
.messagediv {
	font-size: 12px;
	position: absolute;
	border: 1px solid #FFD700;
	text-align: center;
	padding: 5px;
	background-color: #FFFACD;
	filter: alpha(opacity=50);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
/*  积分兑换样式修改 */
.point li {
	float: left;
	width: 300px;
}
/*********************放大镜配置文件*******************************************************************************************/

/* Copyright 2008 MagicToolBox.com. To use this code on your own site, visit http://magictoolbox.com */

/* CSS class for zoomed area */
.MagicZoomBigImageCont {
	border: 1px solid #ccc;
}
/* Header look and feel CSS class */
/* header is shown if "title" attribute is present in the <A> tag */
.MagicZoomHeader {
	font: 12px Tahoma, Verdana, Arial, sans-serif;
	color: #fff;
	background: #ccc;
	text-align: center !important;
}
/* CSS class for small looking glass square under mouse */
.MagicZoomPup {
	border: 1px solid #aaa;
	background: #ffffff;
	cursor: hand;
}
/* CSS style for loading animation box */
.MagicZoomLoading {
	text-align: center;
	background: #ffffff;
	color: #444;
	border: 1px solid #ccc;
	opacity: 0.8;
	padding: 3px 3px 3px 3px !important;
	display: none; /* do not edit this line please */
}
/* CSS style for gif image in the loading animation box */
.MagicZoomLoading img {
	padding-top: 3px !important;
}
/* ©2008 MagicToolbox.com. To use this code on your own site, visit http://www.magictoolbox.com */

/* CSS class for thumbnail link <A> */
.MagicThumb {
	outline: none;
}
/* CSS class for the thumbnail link <A> when the big image is zoomed mo ban tang ban quan suo you */
.MagicThumb-zoomed {
	cursor: default;
}
/* CSS class for span inside the thumbnail <A> */
.MagicThumb span {
	display: none;
}
/* CSS class for the thumbnail image */
.MagicThumb img {
	outline: none;
}
/* CSS class for the big image while zooming */
.MagicThumb-image {
	border: 1px solid #cccccc;
	outline: none;
}
/* CSS class for the zoomed big image */
.MagicThumb-image-zoomed {
	cursor: url(images/zoomout.cur), pointer;
}
/* CSS class for the caption under the big zoomed image */
.MagicThumb-caption {
	color: #333333;
	background-color: #F0F0F0;
	border: 1px solid #CCCCCC;
	border-top: none;
	font-family: Verdana, Helvetica;
	font-size: 11px;
	padding: 8px 16px;
}
/* CSS class for the control bar ec mo ban */
.MagicThumb-controlbar {
	display: block;
	height: 18px;
}
.MagicThumb-controlbar a {
	display: block;
	width: 18px;
	height: 18px;
	margin: 0px 1px;
	outline: none;
	float: left;
	overflow: hidden;
}
.MagicThumb-controlbar a span {
	display: block;
	width: 990px;
	height: 990px;
	outline: none;
	position: absolute;
	left: 0px;
	top: 0px;
}
/* CSS class for the loading message box */
.MagicThumb-loading {
	border: 1px solid #000000;
	padding: 2px 2px 2px 22px;
	margin: 0;
	text-decoration: none;
	text-align: left;
	font-size: 8pt;
	font-family: sans-serif;
}
.picture {
	margin-top: 10px;
	text-align: left;
}
.picture img {
	width: 64px;
	height: 64px;
	cursor: pointer;
	margin: 0 0px;
	margin-right: 3px;
}
.picture img.onbg {
	border: 1px solid #009b72 ;
}
.picture img.autobg {
	border: 1px solid #fff;
}
.left_help {
	border: 1px solid #e2e2e2;
}
.left_help dl {
	padding: 10px;
}
.left_help dl dt {
	font-weight: bold;
	font-size: 12px;
	background: #e5e5e5;
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
}
.left_help dl dt img {
	vertical-align: middle
}
.left_help dl dd {
	padding-left: 10px;
	padding-top: 5px;
}
.left_help dl a {
	color: #666;
	text-decoration: none
}
.left_help dl a:hover {
	color: #1c7b3b
}
.art_cat_box {
}
.art_cat_box th {
	height: 26px;
	line-height: 26px;
}
.art_cat_box td {
	border-bottom: 1px solid #dbdbdb;
	font-weight: normal
}
.art_cat_box td a {
	font-weight: bold;
	color: #3f3f3f;
	padding-left: 20px;
}
.ecmoban {
	display: none
}
.sncompany dd a img {
	height: 25px;
}
/*新品*/
.index_price{ font-size:16px; text-align:center; line-height:25px;}
.index_price .market,.index_price .market_s{ font-size:18px;}
.index_price .f1,.index_price .shop_s,.index_price .shop { font-size:22px; color:#1f8657; font-weight:bold;}
/*底部*/
.ng-new-pro-con .footer-social {
width: 50%;
float: left;
height: inherit;
}
.footer-social .text {
padding: 12px 0;
float: left;
font-size: 15px;
color: #7b7b7b;
}
.footer-social a {
background-color: #2aad6f;
border-radius: 4px;
float: left;
width: 45px;
height: 45px;
margin-left: 8px;
}
.footer-social a:hover{background:#47b488;}
.footer-social a.icon-weixin img.wx-float{ display:none;}
.footer-social a.icon-weixin:hover img.wx-float{ display:block;}
.icon-sina span {
background: url(images/sprite-icons.png) no-repeat -129px -241px;
}
.icon-sina span, .icon-weixin span {
display: block;
width: 25px;
height: 25px;
margin: 8px auto 0;
}
.wx-float {
position: absolute;
top: -110px;
left: 80px;
}
.text-join-us {
margin-left: 30px;
}
.ng-new-pro-con .footer-subscribe {
width: 50%;
float: right;
height: inherit;
}
.footer-subscribe ul li {
width: 50%;
height: 85px;
float: left;
}
.contact-info {
width: 200px;
height: 100%;
float: right;
}
.footer-subscribe ul li img {
width: 68px;
height: 68px;
}
.contact-info h4 {
color: #1f8657;
margin-top: 10px;
font-size: 20px;
}
.contact-info p {
font-size: 15px;
color: #000;
}
.icon-weixin span {
width: 27px;
background: url(images/sprite-icons.png) no-repeat -128px -350px;
}
.icon-join-us span {
width: 28px;
height: 37px;
display: block;
background: url(images/sprite-icons.png) no-repeat -378px -790px;
margin: 0 auto;
}
.wx-float {
position: absolute;
top: -150px;
left:418px;
}
/*相关产品*/
#com_v .goodsItem:nth-child(3n){border-right:none;}
#com_v .goodsItem:nth-child(4){ border-right:1px solid #e0e0e0;}
/*选购*/
.boxCenterList .goodsItem:nth-child(3n){border-right:none;}
.boxCenterList .goodsItem:nth-child(4){ border-right:1px solid #e0e0e0;}
/*专题*/