/*
Template Name: EC模板堂正版授权模板
Template URI: http://www.ecmoban.com/
Description: 买模板请认准模板堂(ecmoban.com) <br/> 挑选优质商业模板：http://www.ecmoban.com/
Version: 2.71
Author: 进模板堂挑选更多ECSHOP模板
Author URI: http://www.ecmoban.com/
Logo filename: logo.gif
\\
*/



/* ====================
     公共样式
==================== */
body{background:#fff; font-size:12px; font-family:"宋体",Verdana, Arial; line-height:150%; margin:0 0 0 0; padding:0; color:#666;}
div{margin:0 auto; padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{
margin:0; padding:0; border:none; list-style-type:none;
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none;
}

.block{width:980px; height:auto; margin:0 auto;}
.f_l{float:left;}
.f_r{float:right;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.dis{display:block;}
.inline{display:inline;}
.none{display:none;}
.dashed{background:url(images/lineBg.gif) repeat-x left top; color:#3f3f3f;  padding:2px 0 3px 12px;}

.clearfix:after{
content:"."; display:block; height:0; clear:both;
visibility:hidden;
}
*html .clearfix{
 height:1%;
}
*+html .clearfix{
 height:1%;
}
/*英文强制换行*/
.word{word-break:break-all;}

  /*边框*/
  .B_blue{border:1px solid #e2e2e2;}
  .B_input{border:1px solid #ccc;}
  .inputBg{border:1px solid #b3b3b3; background:url(images/inputbg.gif) repeat-x left top; height:18px;}
  /*字体颜色ecmoban.com*/
  .f1{color:#cb0000; font-weight:bold}
  .f2{color:#006bd0; font-weight:bold; margin-right:15px;}
  .f3{color:#9e9e9e;}
  .f4{color:#cb0000;}
  .f4_b{color:#ff7126; font-weight:bold;}
  .f5{ font-size:14px; font-weight:bold;}
  .f6{color:#006bd0;}
  .ff1{color:#cb0000;}
  .market{ font-size:12px; text-decoration:line-through; color:#999}
  .shop{color:#cb0000; font-size:14px; font-weight:600;}
  .market_s{text-decoration:line-through;}
  .shop_s{color:#cb0000; font-weight:bold}
  /*按钮部分*/
  .bnt_blue{
  background:url(images/bg.gif) no-repeat 0px 0px; width:52px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer; overflow:hidden
  }
  .bnt_blue_1{
  background:url(images/bg.gif) no-repeat 0px -663px; width:77px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer;overflow:hidden
  }
  .bnt_blue_2{
  background:url(images/bg.gif) no-repeat 0px -696px; width:139px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer;overflow:hidden
  }
  .bnt_bonus{
  background:url(images/bg.gif) no-repeat -56px 0px; width:52px; height:21px;
  text-align:center; line-height:22px; color:#333; border:none; cursor:pointer;overflow:hidden
  }
  /*box from ec moban*/
  .box{ overflow:hidden;}
  .box_1{border:1px solid #e2e2e2; background-color:#fff;}
  .box_2{border:1px solid #e2e2e2; background:url(images/box_2Bg.gif) repeat-x top left;
  background-color:#edf8fe;  overflow:hidden;
  }
  .boxCenterList{padding:8px;}
  /*模块标题*/
  h3{height:32px; line-height:32px; font-size:12px; background:#ededed; text-align:right;
  padding:0 12px; font-weight:100;
  }
  h3.border{border:1px solid #e2e2e2; border-bottom:none;}
  h3 img{position:relative; top:7px;}
  h3 span{float:left; height:32px; line-height:32px; text-align:left;
   font-weight:bold; color:#990000; padding-left:5px;}
   h3 a{ color:#fff; text-decoration:none}
  h5{height:26px; line-height:26px; text-align:right; background-color:#f6f6f6; font-size:12px;
  color:#900; padding:0 10px 0 0;
  }
  h5 span{float:left; font-weight:bold;padding-left:15px;}
  h6{height:23px; line-height:23px; text-align:right; font-size:12px; background:#f6f6f6; color:#3f3f3f;
  border:1px solid #fff; padding-right:10px;
  }
  h6 span{float:left; padding-left:15px;}

  /*页面留白*/
  .blank{height:8px; line-height:8px; clear:both; visibility:hidden;}
  .blank5{height:5px; line-height:5px;/* _margin:-3px 0;e c m o b a n*/ clear:both; visibility:hidden;}
    .blank{height:10px; line-height:10px; clear:both; visibility:hidden;}

  /*布局*/
  .AreaL{width:215px; float:left;overflow:hidden}
  .AreaR{width:754px; float:right; overflow:hidden}
  
  .AreaL h3{ background:url(images/category_tit.gif) repeat-x;  height:32px;line-height:32px;border:1px solid #e2e2e2; border-bottom:none}
.AreaL h3 span{ background:none; color:#666; font-size:14px;height:32px;line-height:32px;}

/* ====================
     导航部分
==================== */
  /*顶部管理型导航*/
  .topNav{ height:29px; line-height:29px; background:#ededed; border-bottom:1px solid #dbdbdb; color:#e0e0e0; position:relative; z-index:999999999;}
  .topNav a{ padding:0 5px;}
  .topNav span{ color:#333}
  #ECS_MEMBERZONE .logoin{color:#666;}
  
  
    .topNav .account{display:inline; position:relative; background:url(images/sanjiao1.gif) no-repeat right center; padding-right:5px; margin-right:5px;}
    .logo{ float:left;}
  .logo img{ float:left}

 
  /*页面主导航*/
#mainNav{padding-right:0; width:100%; height:39px;}
#mainNav h2{width:210px; height:39px; background:#dc1f1d; position:relative;}
#mainNav h2 i{position:absolute; right:10px; top:10px; width:20px; height:21px; background:url(images/wangxia.gif);}
#mainNav h2 b{width:6px; height:37px; background:url(images/tuchu.gif); position:absolute; left:-6px; top:0;}
#mainNav .aa {color:#333;text-decoration:none;float:left;height:35px; line-height:40px; margin:0 11px; text-align:center; font-size:14px; font-family:"微软雅黑" ; font-weight:bold; overflow:hidden;}
 
#mainNav .aa:hover,#mainNav #aa_on{ color:#cb0000; border-bottom:2px solid #dc1f1d; }
#mainNav .u1 .sub_nav{ display:none;}
#mainNav .u1 {height:35px; background:none;line-height:35px;float:left;position:relative;z-index:999;}

.mainNav_r{ float:right; } 
.mainNav_r img{ float:right; } 





 
.category_all{ float:left; width:210px; height:40px; line-height:40px; background:url(images/category_all.gif) no-repeat} 
.category_all a{ font-size:14px; font-weight:bold; font-family: "微软雅黑" ; color:#FFF; padding-left:20px; }
.category_all a:hover{ text-decoration:underline}




.category_all2{ float:left; width:210px; height:39px; line-height:39px; background:#dc1f1d;} 
.category_all2 .all{ font-size:15px; font-weight:normal; font-family:'Microsoft YaHei'; color:#FFF; padding-left:10px; }
.category_all2 .all:hover{ text-decoration:underline}
#mainNav .all_on i{}


.category_all2_on{}





  /*搜索*/
  #search{ height:70px;  float:left; width:436px; padding:20px 0 0 50px;}
  
  .root61  #search{ width:436px; padding:20px 0 0 118px;}
  
  
  #search .keys a{color:#666; text-decoration:none; padding:0 5px;}
  #search  a:hover{color:#cc0000;}
  #search .keys{
  color:#666; float:left; width:310px; height:24px; line-height:24px; overflow:hidden; 
  }
  
  
  .root61 #search .keys{width:436px;}
  
  
  
  
  #search .B_input_box{ width:354px; height:36px;line-height:36px;  float:left; color:#999; border:none; background:url(images/search_input.gif) no-repeat;}
  #search .B_input{ width:339px; padding-left:15px; font-size:14px;line-height:32px;height:32px; background:none; border:none; color:#999}
  
  
 .root61 #search .B_input_box{width:354px;}
  
  .root61 #search .B_input{width:339px;}
  
  
  
  #search  b{ font-weight:normal}
  
  #search .go{background:url(images/bnt_search.gif) right top; border:none; width:82px; _width:81px;  height:36px; float:left;/* position:relative; top:2px; utf8下*/}
  #searchForm{   float:left }
  
.ecmoban{ width:0px; height:0px; overflow:hidden}   
   
   
   
   
   
 
   /*商品分类*/
   #category_tree{background-color:#ededed; border:2px solid #cb0000}
   #category_tree .tit{ background: url(images/category_tit.gif) repeat-x; height:32px; line-height:32px; font-size:14px; font-weight:bold; padding-left:15px; }
   
   #category_tree dl{margin:3px; border-bottom:1px dashed #ddd; padding:3px 0}
   #category_tree dt{height:22px; line-height:22px; font-size:14px;}
   #category_tree dt a{background:url(images/biao4.gif) no-repeat 10px center;
   color:#333; padding-left:20px; text-decoration:none; font-weight:bold
   }
   #category_tree dd{padding:3px 0 3px 10px; line-height:24px;}
   #category_tree dd a{color:#666; text-decoration:none; padding-right:10px;}
   #category_tree dd a:hover{color:#fc0000; text-decoration:none;}
   /*销售排行*/
   
 
   
   .top10Tit{background:url(images/bg.gif) no-repeat 0px -85px; height:30px;}
   .top10List{background-color:#fff; margin:0px 4px 4px 4px;}
	 .top10List ul{border-top:1px solid #9abc80; position:relative;}
	 .top10List .iteration{position:absolute; top:6px; left:6px;}
	 .top10List .iteration1{padding-left:3px;}
	 .top10List li.topimg{width:90px; height:90px;}
	 .top10List .samllimg{width:90px; height:90px; margin-bottom:4px;}
   .top10List li{padding:3px 3px 3px 23px; float:left;}
   /*linkCOLOR*/
   .top10List li a,#mallNews .NewsList li a,.boxCenterList li a{color:#3f3f3f; text-decoration:none;}
   .top10List li a:hover,#mallNews .NewsList li a:hover,.boxCenterList li a:hover{color:#ff6600; text-decoration:none;} 
   
   
   .top10 .box_1{ border:1px solid #469b02}
   .top10_1{ width:223px; height:106px; background: url(images/top10_1.gif) no-repeat}
   .top10_1 li{ color:#FFF; font-size:12px; font-weight:bold}
   .top10_1 li a{ color:#FFF; font-weight:normal; display:block; padding-bottom:7px; }
   .top10_1 li .f1{ color:#FFF}
   /*首页焦点图*/
   #focus{ width:520px; float:left}
   #mallNews{width:192px; overflow:hidden }
   .newart_tit{ width:192px; height:24px; line-height:24px; background:url(images/newart_tit.gif); color:#c90707; font-weight:bold; font-size:14px; text-align:left; color:#333; font-size:12px; padding-left:10px; border-bottom:1px solid #ddd;}
   #mallNews .NewsList{background:#FFFFFF; padding:9px;}
   #mallNews .NewsList ul{ line-height:21px;}
   #mallNews .NewsList li{background:url(images/bg.gif) no-repeat 0px -167px; padding:0px 0px 0px 10px;line-height:21px; height:21px;
   text-align:left; color:#666; overflow:hidden
   }
   #mallNews .NewsList li a{ color:#666}
   /*今日特价和品牌*/
   #sales{width:500px; background:url(images/salesBg.gif) repeat-x left bottom;
   border-bottom:2px solid #f0f1f3; background-color:#eef8ff;
   }
   #sales h1{font-size:12px; background:url(images/salesTitBg.gif) no-repeat; height:33px; text-align:right;}
   #sales h1 img{position:relative; top:10px; right:8px;}
   #sales .goodBox{margin:10px 0px 10px 10px; _margin-left:5px;}
     #sales .goodBox .goodList p{text-align:left; color:#3f3f3f;}
     #sales .goodBox .goodList p a{color:#3f3f3f; text-decoration:none;}
   #sales .goodBox .goodList p a:hover{color:#ff6600; text-decoration:none;}
   #sales .goodList{width:110px; margin:0px 5px 0px 5px; float:left;}
   #sales .goodList img{background:url(images/salesGoodBg.gif) no-repeat; width:100px; height:100px; padding:5px;
   }
   #sales .goodList p{ margin-top:3px; text-align:center;}
   #brands{width:247px; height:199px; *height:201px; padding:1px 0 0 1px; position:relative;}
   #brands .brandsMore{position:absolute; left:178px; bottom:10px;
   width:65px; height:41px;
   }
   #brands .brandsMore img{border:none; width:65px; height:41px;}
   #brands img{width:78px; height:40px;border:1px solid #e2e2e2;}
   #brands a{color:#0069cd; text-decoration:none; margin:2px 1px; display:block; float:left;}
     .brandsIe6{_width:250px;}/*在ie6下特价商品不存在的话品牌推荐永远靠右显示*/
   /*精品推荐，新品上市，热卖商品*/
   .centerPadd{padding:5px 8px 8px 8px; overflow:hidden;}
   
   .box_3{ border:1px solid #dedede; background:url(images/tit1.gif) repeat-x }
   
   .itemTit{height:34px; padding-left:290px; text-align:right; position:relative; 
  
   }
   .itemTit .tit{ width:142px; height:20px;position:absolute; left:0; top:0; text-align:left; padding:5px 0 0 20px; font-weight:bold; color:#333; background:url(images/biao1.gif) 10px 8px no-repeat}
 

 
   
   
   
   .itemBest_box .box_1{ border:1px solid #bddbfd; background:#e6f2ff; padding:15px 20px 5px 20px; margin-top:-1px;}
   
   
   
   
   
   
   
   
   .itemBest_box .f1{ color:#1e51a4; font-weight:bold}
   .itemBest_box .f1 a{ color:#1e51a4;}
   

   
 

   .itemTit img{position:relative; top:7px;}
   .itemTit h2{height:27px; line-height:28px; border:none; background:none;
   font-size:12px; text-align:center; color:#f90; font-weight:bold; padding:0px 10px;
     display:inline; white-space:nowrap;
   }
   .itemTit h2 a{color:#cb0000;text-decoration:none;}
   .itemTit .h2bg{height:27px; line-height:28px; border:none; background:none;
   font-size:12px; text-align:center; color:#666; font-weight:100; padding:0px 10px;
     display:inline; white-space:nowrap;
   }
   .itemTit .h2bg a{color:#666; text-decoration:none;}
   .centerPadd .goodsBox{border:1px solid #d6ecff; background:#fff; padding:12px 0px 0px 17px; *padding:12px 0px 0px 17px;
   _padding:12px 0px 0px 0px;}
   .centerPadd .goodsBox .more{text-align:right; clear:both; margin:0 8px 8px 0;}
       /*单个商品*/
	   
       .goodsItem{width:172px; float:left; position:relative; overflow:hidden; padding:0px 7px 15px 7px; text-align:center}
	   .goodsBox_1 .goodsItem{ padding:0px 3px 15px 3px;width:172px;}
       .goodsItem .goodsimg{width:170px; height:170px; border:1px solid #cdcece; margin-bottom:4px;}

       .goodsItem p{text-align:center; color:#3f3f3f; font-weight:normal; display:block; line-height:18px; height:36px; overflow:hidden}
       .goodsItem p a{color:#3f3f3f; text-decoration:none;}
       .goodsItem p a:hover{color:#ff6600; text-decoration:none;}
       .goodsItem span{width:40px; height:40px; position:absolute;left:0px; top:0px;}
       .goodsItem span.best{background:url(images/bg.gif) no-repeat 0px -304px;}
       .goodsItem span.news{background:url(images/bg.gif) no-repeat -75px -304px;}
       .goodsItem span.hot{background:url(images/bg.gif) no-repeat -161px -304px;}
	   
	   
	   
	   .goods_cat{ padding:10px;}
	   .goods_cat .goodsItem{ padding:5px 9px 15px 10px; }
	   
	   
	   #show_best_area .goodsItem{padding:0px 6px 15px 9px;}
	   
       .ie6{padding-left:7px; height:1%;}/*购买此商品的人还购买的商品*/
	   .ie6 .goodsItem{ padding:0px 6px 15px 6px;}
	   
	   .search1 .goodsItem{ padding:0px 6px 15px 6px;}
	   
	   
	   


   /*相关商品 模_板_堂_出_品*/
   .boxCenterList ul{height:1%; margin-bottom:5px;}
   .boxCenterList li{float:left; width:100px;}
   .boxCenterList li.goodsimg{width:48px; margin-right:10px; float:left}
   .boxCenterList li.goodsimg img{width:48px; height:48px; display:block;}
   /*相关文章(其它带有小三角点的文字列表共用)*/
   .RelaArticle a,.alone{background:url(images/bg.gif) no-repeat 0px -170px; padding:0px 0px 0px 10px; color:#3f3f3f; text-decoration:none;}
   .RelaArticle a:hover{background:url(images/bg.gif) no-repeat 0px -170px; padding:0px 0px 0px 10px; color:#ff6600; text-decoration:none;}
   /*浏览历史，收藏*/
   .history h2{height:26px; line-height:26px; padding:0px 10px 0 20px; text-align:center; font-size:12px;
   float:left; color:#990000;
   margin:6px 5px 0 0; border:1px solid #e2e2e2; border-bottom:none; background-color:#FFFFFF;
   }
   .history .h2bg{height:26px; line-height:26px; padding:0px 10px 0 20px; text-align:center; font-size:12px;
   float:left; color:#666; background:none;
   margin:6px 5px 0 0; border:none; 
   }
     #history li{width:100%;}
		 #clear_history a{background:none; padding:0px; color:#3f3f3f; text-decoration:none;float:right;cursor:pointer;}
   .colle a{background:none; padding:0px; color:#3f3f3f; text-decoration:none;}
   .colle a:hover{background:none; padding:0px; color:#ff6600; text-decoration:none;}
   /* ====================
     商品详情页面部分模块
==================== */
   #goodsInfo{  _height:1%;}
   #goodsInfo .imgInfo{width:310px; float:left; padding-right:10px; }
   #goodsInfo .imgInfo .thumb{width:230px; height:230px; display:block;}/*商品详情图片*/
   #goodsInfo span{width:4px; height:48px; background:url(images/bg.gif) no-repeat 0 -527px; float:left;}
   #goodsInfo span.spanR{width:4px; height:48px; background:url(images/bg.gif) no-repeat -5px -527px; float:right;}
   #goodsInfo .gallery{width:204px; float:left; margin-left:10px; _margin-left:5px; overflow:hidden;}
   #goodsInfo .gallery ul{width:auto;}
   #goodsInfo .gallery li{float:left; width:48px; margin:0 2px;}
   #goodsInfo .gallery li img{width:46px; height:46px; display:block;}
  .textInfo ul strong{ font-weight:normal}
   /*文字信息*/
   #goodsInfo .textInfo{background:#fff; width:393px; float:left; padding:0 10px; }
   #goodsInfo .textInfo p{font-size:14px; font-weight:bold; padding:0 5px 5px 8px;}
   #goodsInfo .textInfo ul{border-top:1px solid #ccc;}
   #goodsInfo .textInfo li{background:url(images/lineBg.gif) repeat-x left bottom; padding:0px 8px; _height:1%;}
   #goodsInfo .textInfo li.padd{padding:7px 0px 7px 8px;}
   #goodsInfo .textInfo li dd{width:50%; float:left; padding:7px 0px;}
   #goodsInfo .textInfo li dd.ddR{border-left:1px solid #eeecec; width:48%; padding-left:8px;}
     #goodsInfo .textInfo li dd.ddL{border-right:1px solid #eeecec;}
   #goodsInfo .textInfo a{color:#006bce; text-decoration:underline;}
   #goodsInfo .textInfo .loop{background:#f7f7f7; margin-top:8px;}
   
   .shuxin dt{ border:1px solid #ccc; text-align:center; font-weight:bold; color:#990000; margin-bottom:3px;}
	.shuxin dd{ width:50%; float:left}
	.shuxin dd span{ float:left; background:#eee; margin:3px;}
	.shuxin dd .span1{width:125px;padding-left:5px;}
	.shuxin dd .span2{width:220px; padding-left:5px;}
   /*用户评论*/
   .comments li{background:url(images/lineBg.gif) repeat-x left bottom; padding:3px 8px; width:97%; _height:1%; text-align:left; position:relative;
   margin-bottom:8px;
   }
   .comments li img{position:absolute; right:0px; top:3px;}
   .comments li p{margin:3px auto; text-align:left;}
   .commentsList{border:1px solid #ccc; background:#f7f7f7; padding:10px;}
   .commentsList .inputBorder{border:1px solid #ccc; background:#fff;}
     .captcha{margin-left:0px; position:relative; top:-1px; *margin-left:8px; *position:relative; top:3px; cursor:pointer;}
    /* ====================
     品牌推荐
==================== */
    /*品牌列表*/
    #brandList{ margin-top:12px; height:1%;}
    #brandList .brandBox{width:240px; _width:236px; float:left; margin:0 5px 20px 5px; text-align:center; overflow:hidden; height:160px;}
        #brandList .brandBox .brandLogo{width:188px; height:52px; overflow:hidden;}
    #brandList .brandBox h4{height:23px; line-height:23px; background:#e9e9e9; margin:15px 0 8px 0; padding:0 10px; text-align:right;
    font-weight:100; font-size:12px;
    }
    #brandList .brandBox h4 span,#brandList .brandBox h4 span a{float:left; font-weight:bold; color:#3f3f3f; text-decoration:none;}
    #brandList p{text-align:left; margin-bottom:5px; color:#909090; padding:8px;}
    #brandList p.brandCategory,#brandList p.brandCategory a{text-align:left; color:#006acd; text-decoration:none;}
    #brandList .brandArticle{border:1px dashed #d9d9d9; background:#e2e2e2; text-align:left;}
    .brandCategoryA a{ margin-right:15px;}

         /* ====================
     用户中心
==================== */
    .box_1 .userCenterBox{border:4px solid #f8f8f8; background-color:#fff;}
    .usBox{border:1px solid #ccc; padding:15px; color:#000 }
	
	.usBox .inputBg{ border:1px solid #ccc; background:none}
    .usBox_1{background:#fff; text-align:left; width:320px; }
    .logtitle{height:35px; background:url(images/user_tit1.gif) no-repeat 0px 0px;}
	.logtitle3{height:35px; background:url(images/user_tit3.gif) no-repeat 0px 0px;}
    .us_Submit{border:none; width:87px; height:35px; background:url(images/bnt_ur_log.gif)}
    .us_Submit_reg{border:none;  width:122px; height:31px; background:url(images/bnt_ur_reg.gif);}
    .usTxt{width:510px; height:267px;  float:right;
    text-align:left;  line-height:23px; border-left:1px solid #c3b9b1; padding-left:20px;
    }
	.regtitle{ width:510px; height:35px; background:url(images/user_tit2.gif)}
    .usTxt img{margin-top:15px;}
    /*注册*/
    .usBox_2{background:#fff url(images/usBox_2bg.gif) 550px center no-repeat ; text-align:left; padding:43px 153px 60px 123px;}
    .usBox_2 .regtitle{height:30px; background:url(images/ur_bg.gif) no-repeat 0px -34px;}
    .actionSub a{color:#000; text-decoration:underline;
    background:url(images/ur_bg.gif) no-repeat 0px -68px; padding-left:14px;
    }
    .box_1 .userCenterBox .userMenu a{display:block; height:25px; line-height:25px; background:url(images/menuBg.gif) no-repeat 0 -30px;
    color:#3f3f3f; text-decoration:none; margin:0 0 3px 10px; padding-left:3px;
    }
    .box_1 .userCenterBox .userMenu a.curs{background:url(images/menuBg.gif) no-repeat 0 0px; font-weight:bold;}
    .box_1 .userCenterBox .userMenu a img{ margin-right:3px;}
    .msgBottomBorder{clear:both; background:url(images/lineBg.gif) repeat-x left bottom; padding-bottom:8px; margin-bottom:8px;}

/* ====================
     商品分类页面
==================== */
    /*属性组合搜索*/
			.screeBox{padding:10px;}
		.screeBox a{color:#404040;}
		.screeBox span{background:#990000; color:#FFFFFF; padding:3px 5px; margin:0 3px;}
		
    .sort a{ position:relative; bottom:5px;}
    .sort input{position:relative; top:3px;}
    /*商品列表显示方式*/
    .goodsList{ padding:10px 10px 0 10px;}
    .goodsList ul{ margin-bottom:10px;}
    .goodsList ul#bgcolor{background:#fbfbfb; border-top:1px dashed #e8e8e8; border-bottom:1px dashed #e8e8e8;}
    .goodsList li{float:left; padding:8px;}
	.goodsList  a{ text-decoration:none; color:#900}
	
    .goodsList li.thumb{ text-align:center;}
    .goodsList li.thumb img{ border:1px solid #ccc; padding:1px;}
    .goodsList li.goodsName{width:250px; margin-right:10px; font-size:12px;}
	.goodsList li.goodsName .div_name{ height:80px;}
	.goodsList li.goodsName a{ font-size:12px; font-weight:bold; color:#333333}
	.goodsList li.goodsName .bnt_blue{ color:#FFFFFF; font-size:12px; float:left; margin-right:10px;}
    .goodsList li.action{float:right; margin-left:10px; line-height:25px;}

/* ====================
     团购
==================== */
    .group{ padding:8px;}
    .group li{float:left; background:#fff; padding:8px;}
	.group .f_l{ width:220px; text-align:center}
.group .f_r{ width:425px; line-height:23px; text-align:left}

/* ====================
     购物流程
==================== */
    .flowBox{ padding-bottom:5px;}
	 .flowBox h6{ background:#ececec; color:#666666; font-weight:bold}
    .flowBox table{ margin:5px auto;}
		/*2.62在购物车里面显示相关配件*/
		.flowGoodsFittings{padding:10px;}
		.flowGoodsFittings ul{height:1%; margin:5px 4px; float:left;}
    .flowGoodsFittings li{float:left; width:120px;}
    .flowGoodsFittings li.goodsimg{width:48px; margin-right:10px;}
    .flowGoodsFittings li.goodsimg img{width:48px; height:48px; display:block;}
		
/* ====================
     文章列表页-2009.6.8
==================== */
    .article_search{margin:8px 0;}
		.article_search .inputBg{width:300px;}
/* ====================
    打印报价单
==================== */
    .quotation{ margin:20px auto 20px auto; text-align:center;}




   /*翻页*/
   .pagebar{height:20px; float:right;color:#666;}
   .pagebar img{position:relative; top:2px;}
   .pagebar a{display:block; float:left; margin:0 2px; color:#666; text-decoration:none;}
   .pagebar a:hover{color:#c00; text-decoration:none;}
   .pagebar .page_now{display:block; float:left; margin:0 5px; color:#c00; font-weight:bold; background:#fff;}
   #pager a{color:#666; text-decoration:none;}

   /*底部导航+友情链接*/
   #bottomNav{width:990px;}
   .bNavList{ height:31px; line-height:31px; padding:0 12px; color:#333; text-align:center;}
   .links{border:1px solid #fff; background:#; padding:5px;}
   .links a{color:#333; text-decoration:none;}
   .bNavList img{_position:relative; top:8px;}
   .links img{width:88px; height:30px; margin:5px;}
   .bNavList a{ color:#666; text-decoration:none}
   /*版权*/
   /*帮助*/
   .footer{height:176px; width:100%; background:#eeeeee;}
   .helpTitBg{ padding:17px 3px 0 100px;}
 
   
   .helpTitBg dl{float:left; width:133px; padding-left:28px; background:url(images/footer_dlbg.gif) left top no-repeat; min-height:134px; height:134px;}
   
   
   .helpTitBg dt{ width:auto; height:25px; line-height:25px; text-align:left;}
     .helpTitBg dt a{  color:#656565; font-size:14px; font-weight:bold;  text-decoration:none;}
   .helpTitBg dd a{color:#989898; display:block; padding-left:10px; text-decoration:none; line-height:24px; background:url(images/help_line.gif) left center no-repeat;}
   .helpTitBg dd { }
   .helpTitBg dt a:hover{ color:#656565}
   .helpTitBg dd a:hover{color:#989898;}


/* ======商品比较浮动块 ====== */
#compareBox { background:url(images/comparebox.gif) no-repeat;
 width:140px;
 position: absolute;
 right:1px;
 top:200px; padding-top:21px;
}

#compareBox input {
    width:140px; height:26px;
    border:none;
    background:url(images/compareSub.gif) no-repeat;
}

#compareList {
 padding:0px;
 width:138px;
 background:#FFFFFF;
 border:1px solid #91b3cb; border-bottom: none; padding-top:5px;
}

#compareList li {
 color: #333;
 text-align:left;
 background: #eff8ff;
 padding: 3px 5px;
 margin: 0 5px 5px 5px; border:1px solid #dceaf5
}

#compareList li img {
 float:right;
 padding-top:4px;
}


/*购物车提示点击更新按钮式样2.6.2版本添加*/
.messageli {
 list-style-type:none;
 padding:5px;
 color:red
}
.messagediv {
 font-size:12px;
 position:absolute;
 border:1px solid #FFD700;
 text-align:center;
 padding:5px;
 background-color:#FFFACD;
 filter:alpha(opacity=50);
 -moz-opacity:0.7;
 opacity: 0.7;
}

/*  积分兑换样式修改 */
.point li{
 float:left;
 width:300px;
}

/*********************放大镜配置文件*******************************************************************************************/

/* Copyright 2008 MagicToolBox.com. To use this code on your own site, visit http://magictoolbox.com */

/* CSS class for zoomed area */
.MagicZoomBigImageCont {
	border:			1px solid #91b817;
}

/* Header look and feel CSS class */
/* header is shown if "title" attribute is present in the <A> tag */
.MagicZoomHeader {
	font:			12px Tahoma, Verdana, Arial, sans-serif;
	color:			#fff;
	background:		#91b817;
	text-align:     center !important; 
}


/* CSS class for small looking glass square under mouse */
.MagicZoomPup {
	border: 		1px solid #aaa;
	background: 	#ffffff;
	cursor:			hand;
}

/* CSS style for loading animation box */
.MagicZoomLoading {
	text-align:		center;
	background: 	#ffffff;
	color:			#444;
	border: 		1px solid #ccc;
	opacity:		0.8;
	padding:		3px 3px 3px 3px !important;
	display: 		none; /* do not edit this line please */
}

/* CSS style for gif image in the loading animation box */
.MagicZoomLoading img {
	padding-top:	3px !important;
}
/* ©2008 MagicToolbox.com. To use this code on your own site, visit http://www.magictoolbox.com */

/* CSS class for thumbnail link <A> */
.MagicThumb {
    cursor: url(images/zoomin.cur), pointer;
    outline: none;
}

/* CSS class for the thumbnail link <A> when the big image is zoomed mo ban tang ban quan suo you */
.MagicThumb-zoomed { cursor: default; }

/* CSS class for span inside the thumbnail <A> */
.MagicThumb span { display: none; }

/* CSS class for the thumbnail image */
.MagicThumb img { border: 1px solid #808080; outline: none; }

/* CSS class for the big image while zooming */
.MagicThumb-image { border: 1px solid #cccccc; outline: none; }

/* CSS class for the zoomed big image */
.MagicThumb-image-zoomed { cursor: url(images/zoomout.cur), pointer; }

/* CSS class for the caption under the big zoomed image */
.MagicThumb-caption {
    color: #333333;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-top: none;
    font-family: Verdana, Helvetica;
    font-size: 11px;
    padding: 8px 16px;
}

/* CSS class for the control bar ec mo ban */
.MagicThumb-controlbar {
	display: block;
	height: 18px;
}

.MagicThumb-controlbar a {
	display: block;
	width: 18px;
	height: 18px;
	margin: 0px 1px;
	outline: none;
	float: left;
	overflow: hidden;
}

.MagicThumb-controlbar a span {
	display: block;
	width: 1000px;
	height: 1000px;
	background: transparent url(images/controlbar.png) no-repeat 0 0;
	outline: none;
	position: absolute;
	left: 0px;
	top: 0px;
}

/* CSS class for the loading message box */
.MagicThumb-loading {
	border: 1px solid #000000;
	background: #ffffff url(images/loader.gif) no-repeat 2px 50%;
	padding: 2px 2px 2px 22px;
	margin: 0;
	text-decoration: none;
	text-align: left;
	font-size: 8pt;
	font-family: sans-serif;
}
	.picture{

	margin-top:10px;
	text-align:left;

	}
	 .picture img{
	width:50px;
	height:50px;
	cursor:pointer; 
	margin:0 3px;
	}
	.picture img.onbg{ border:2px solid #ff9900;
	
	}
	.picture img.autobg{
	border:2px solid #fff;
	
	}
	
	
	
		
	.left_help{ border:1px solid #e2e2e2;}
	
	.left_help dl{ padding:10px;}
	.left_help dl dt{ font-weight:bold; font-size:12px; background:#e5e5e5; height:24px;line-height:24px; padding-left:10px;}
	.left_help dl dt img{ vertical-align:middle }
	.left_help dl dd{ padding-left:10px; padding-top:5px;}
	.left_help dl a{ color:#666; text-decoration:none}
	.left_help dl a:hover{ color:#1c7b3b}
	
	.art_cat_box{}
.art_cat_box th{ height:26px;line-height:26px; }
.art_cat_box td{ border-bottom:1px solid #dbdbdb; font-weight:normal}
.art_cat_box td a{ font-weight:bold; color:#3f3f3f; padding-left:20px; }

/*======购物车========*/

.buy_car_bg_box{float:right; background:url(images/background.gif) left 9px no-repeat; padding-top:9px; padding-left:10px;}
.buy_car_bg_box .qujiesuan{float:left; width:110px; height:25px; display:block; background:url(images/jiesuan_bg.gif);}
.buy_car_bg{ float:left; padding-left:55px; width:95px;  height:26px;line-height:26px; position:relative; z-index:999999999; background:url(images/buy_car_bg1.gif) no-repeat;  }
 
.buy_car_bg .car_ul{ display:none }
.buy_car_bg  b{color:#fc4300; padding:0 8px;}
.buy_car_bg a{ text-decoration:none; color:#333}
.buy_car_bg a:hover{color:#fc4300;}

















