@charset "UTF-8";
/*
$Id: main.css 13991 2008-01-17 06:17:23Z maruitao $
*/
.dis {
  display: block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

body {
  background: #f8f8f8;
  padding: 10px;
  font-family: Microsoft Yahei, sans-serif;
}

a {
  color: #41a5e1;
}

input[type=text],
input[type=password],
select {
  padding: 5px;
  height: auto;
  border: 1px solid #c0c8cf;
  border-radius: 0;
  margin-bottom: 10px;
}
select {
  width: 130px
}

select[multiple] {
  height: auto;
}

textarea {
  padding: 5px;
  border: 1px solid #c0c8cf;
  border-radius: 0;
}

#header-frame {
  height: 80px;
}

#header-div {
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #dddddd;
}

#logo-div {
  float: left;
  padding-top: 10px;
}

#license-div {
  height: 40px;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

#license-div a {
  color: #EB8A3D;
}

#license-div a:hover {
  text-decoration: none;
  color: #EB8A3D;
}

#submenu-div {
  padding-top: 8px;
}

#submenu-div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#submenu-div li {
  float: right;
  padding: 0 10px;
  margin: 3px 0;
  border-left: 1px solid #FFF;
}

#submenu-div a {
  color: #666;
  text-decoration: none;
}

#loading-div {
  clear: right;
  text-align: right;
  display: block;
}

#menu-div {
  background: #fbfffe;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e8e8e8;
}

#menu-div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu-div li {
  float: left;
}

#menu-div a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: #5b718d;
  font-weight: bold;
}

#menu-div li.active a,
#menu-div li a:hover {
  color: #41a5e1;
}

#menu-div li:hover,#menu-div li.active {
  height: 60px;
  border-bottom: 2px solid #41a5e1;
}

#menu-div li.fix-spacel {
  width: 30px;
  border-left: none;
}

#menu-div li.fix-spacer {
  border-right: none;
}

#menu-div .btn-bind {
  border: none;    float: right;
    margin-right: 28px;
}

#menu-div .btn-bind span,
#menu-div .btn-bind a {
  /*position: relative;*/
  /*top: 10px;*/
  /*right: -20px;*/
  width: 107px;
  height: 32px;
  /*border: none;*/
  /*display: block;*/
  /*background: url(../images/btn-bind.png) no-repeat 0 6px;*/
  /*background: #fc521e;*/
  cursor: pointer;
  color: #fc521e;
  font-weight: bold;
}
#menu-div .btn-bind img{
  width: 16px;vertical-align: middle;
}

h1 {
  background: white;
  border: 1px solid #eee;
  color: #888888;
  font-size: 14px;
  line-height: 36px;
  padding: 7px 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

h1 em {
  visibility: #4face5;
}

h1 a {
  color: #333;
}

h1 a:hover {
  color: #EB8A3D;
}

h1 span {
  zoom: 1;
}

h1 .action-span a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  background: rgba(251, 112, 45, 0.9);
  display: block;
  padding: 12px 20px;
  color: #ffffff;
  border-radius: 4px;
}

h1 .action-span a:before {
  content: "+";
  display: inline-block;
  width: 13px;
  height: 13px;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  vertical-align: middle;
  margin-right: 10px;
}

h1 .action-span a:hover {
  background: #fb702d;
}

h1 .btn-right {
  float: right;
  margin-left: 10px;
}

h1 .action-span5 {
  background-color: #e63a12;
  border-color: #e63a12;
}

h1 .action-span5:before {
  content: "";
  background: url(../images/113.png) center no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  vertical-align: middle;
  margin-right: 10px;
}

h1 .action-span5:hover {
  background-color: #f03c12;
}

h1 .action-span6 {
  background-color: #e63a12;
  border-color: #e63a12;
}

h1 .action-span6:before {
  content: "";
  background: url(../images/112.png) center no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  vertical-align: middle;
  margin-right: 10px;
}

h1 .action-span6:hover {
  background-color: #f03c12;
}

#footer {
  padding: 15px;
  margin: 15px -10px -10px -10px;
  border-top: 1px solid #dddddd;
  background-color: #eaeaea;
  color: #bbb;
  text-align: center;
}

.main-div {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}

.main-div table {
  background: #FFF;
  border-top: 10px solid #FFF;
  border-bottom: 10px solid #FFF;
  width: 100%;
}

.form-div {
  background: white;
  border: 1px solid #dddddd;
  padding: 5px 10px;
  color: #666666;
  margin: 0 0 10px 0;
}

.form-div select,
.form-div input,
.form-div img {
  vertical-align: middle;
}

/* 列表部分的样式 */
.list-div {
  width: 100%;
  padding: 0;
}

.list-div table {
  width: 100%;
  border-collapse: collapse;
}

.list-div th {
  color: #333;
  line-height: 3.5;
  background-color: #f2feff;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.list-div .checks {
  background-color: #eee;
}

.list-div td {
  background: #f4fafb;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #e8e8e8;
}

.list-div td.first-cell {
  padding-left: 10px;
}

.list-div input {
  vertical-align: middle;
}

.list-div img {
  margin: 0 1px;
  vertical-align: -1px;
}

.list-div .footer {
  background: #F4FAFB;
  text-align: right;
}

.list-div th a, .list-div th a:hover {
  color: #111;
}

.list-div.message {
  border: 1px solid #BBDDE5;
}

.list-div.message table {
  border: none;
}

.list-div.message td {
  background: none;
  border: none;
  text-align: left;
}

/* 排除影响 */
#page-table {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #dddddd;
}

#page-table td {
  padding: 0 10px;
}

#page-table .btn {
  min-width: auto;
}

#page-link {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #999;
}

/* 标签部分的样式 */
#tabbar-div {
  padding-top: 5px;
}

#tabbar-div p {
  margin: 2px 0 0 0;
}

#toggleImg {
  margin-top: 8px;
}

.tab-front {
  display: inline-block;
  line-height: 36px;
  font-weight: bold;
  padding: 0 25px;
  margin-right: 10px;
  margin-bottom: -1px;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}

.tab-back,
.tab-hover {
  display: inline-block;
  line-height: 32px;
  padding: 0 25px;
  margin-right: 10px;
  cursor: pointer;
  color: #888;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}

#tabbody-div {
  border: 1px solid #dddddd;
  padding: 10px;
  background: #FFF;
}

.gk-table tr{
  margin-bottom: 10px;
}
#tabbody-div img {
  vertical-align: middle;
}

.tab-body {
  border: 0px solid #BBDDE5;
  padding: 10px;
}

/* 表单部分 */
.notice-span {
  color: #aaa;margin:0px 0 15px;
}

td.label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
  width: 15%;
}

td.label_2 {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
}

td.td_1 {
  text-align: right;
  vertical-align: top;
  padding: 5px 1em;
}

td.label_left {
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
}

td.narrow-label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
  width: 20%;
}

td.micro-label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
  width: 127px;
  *width: 150px;
}

.button-div {
  text-align: center;
  padding: 3px 0;
}

input.btn-download {
  -webkit-appearance: none;
  padding: 0;
  margin: 60px 0 225px;
  width: 130px;
  height: 41px;
  border: none;
  line-height: 41px;
  font-size: 16px;
  vertical-align: top;
  background: url(../images/sprit.png) -70px -154px;
}

input.btn-download:hover {
  background: url(../images/sprit.png) -70px -90px;
}

input.capital {
  text-transform: uppercase;
}

span.require-field {
  margin-left: 1em;
  font: 12px verdana;
  color: #FF0000;
}

th.group-title {
  text-align: left;
}

span.link-span {
  color: #999;
  padding-left: 10px;
  margin-left: 15px;
  border-left: 2px solid #999;
  font-weight: normal;
  cursor: pointer;
}

ul.msg-link {
  list-style-type: none;
}

ul.msg-link li {
  background: url(../images/arrow.gif) no-repeat 0px 6px;
  padding-left: 18px;
  margin-left: 0;
}

option.leafCat {
  color: #008000;
}

li.warning {
  border: 1px solid #CC0000;
  background: #FFFFCC;
  padding: 10px;
  margin-bottom: 5px;
}

#Marquee {
  height: 20px;
  overflow: hidden;
  border: 1px solid #CC0000;
  background: #FFFFCC;
  margin-bottom: 5px;
}

#Marquee div {
  background: #FFFFCC;
  padding: 10px;
  margin-bottom: 5px;
}

/* MSN Messenger */
div#popMsg {
  z-index: 99999;
  right: 0px;
  bottom: 0px;
  width: 180px;
  border-right: #455690 1px solid;
  border-top: #a6b4cf 1px solid;
  border-left: #a6b4cf 1px solid;
  border-bottom: #455690 1px solid;
  visibility: hidden;
  display: none;
  position: fixed;
  background-color: #c9d3f3;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.65);
  opacity: 0.65;
}

* html div#popMsg {
  position: absolute;
}

#popMsgContent {
  border-top: #728eb8 1px solid;
  border-right: #b9c9ef 1px solid;
  border-bottom: #b9c9ef 1px solid;
  border-left: #728eb8 1px solid;
  padding: 5px 10px;
  color: #1f336b;
}

#topbar {
  position: absolute;
  border-right: #455690 1px solid;
  border-top: #a6b4cf 1px solid;
  border-left: #a6b4cf 1px solid;
  border-bottom: #455690 1px solid;
  background-color: #c9d3f3;
  width: 300px;
  visibility: hidden;
  z-index: 99999;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.95);
  opacity: 0.95;
}

.no-records {
  color: #666;
  text-align: center;
  padding: 10px;
}

#loader {
  background-color: #FFFFCC;
  border: 1px solid #CC0000;
  position: fixed;
  color: #CC0000;
  z-index: 1000;
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.65);
  opacity: 0.65;
}

* html #loader {
  position: absolute;
}

.todolist-box {
  position: absolute;
  z-index: 99999;
  width: 300px;
  top: 0px;
  left: 0px;
  border: 1px solid #C9C9D7;
  padding: 1px;
  background: #FFFFFF;
}

.todolist-box .container {
  border: 1px solid #E4E5ED;
  border-bottom-color: #EAEDF5;
  position: relative;
}

.todolist-box .head {
  line-height: 23px;
  color: #fff;
  font-size: 12px;
  background: #D8D9DF url(../images/icon_title.svg) no-repeat 10px center;
  background-size: contain;
  height: 23px;
  padding-left: 28px;
  margin: 0;
  border-top: 3px solid #E4E5ED;
  border-bottom: 1px solid #EAEDF5;
}

.todolist-box .buttons {
  float: right;
  margin-top: -21px;
}

.todolist-box .buttons img {
  margin-right: 2px;
  cursor: auto;
}

.todolist-box .bottomLeft {
  text-align: right;
  font-size: 12px;
  border: 1px solid #CCCBD9;
  border-top: 0;
  background: #DCDDE3;
  height: 22px;
  vertical-align: middle;
  padding-top: 3px;
  padding-right: 20px;
}

.todolist-box label {
  margin-bottom: 2px;
}

.todolist-box .bottomLeft input {
  vertical-align: middle;
  margin-bottom: 2px;
}

.todolist-box .bottomRight {
  margin: 0;
  margin-right: -2px;
  margin-bottom: -2px;
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 14px;
  height: 14px;
  background: url(../images/btn_drop.gif) no-repeat center;
}

.todolist-box .button {
  border: #fff 1px solid;
  border-bottom: #94949C 1px solid;
  border-right: #94949C 1px solid;
  background: #B8B7C8;
  color: #fff;
  width: 40px;
}

.virtualBox {
  position: absolute;
  overflow: hidden;
  z-index: 999999;
  width: 300px;
  top: 0px;
  left: 0px;
  border: #a6b4cf 3px solid;
}

#ColorSelectertBox {
  border-top: #EAF0FF 1px solid;
  border-left: #EAF0FF 1px solid;
  border-right: #9DADCE 1px solid;
  border-bottom: #9DADCE 1px solid;
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 1px;
  background-color: #FFFFFF;
}

/* setting */
.step1,
.step2,
.step3 {
  padding: 20px 20px 20px 80px;
  color: #6CA1B4;
  font-size: 28px;
  font-weight: 700;
}

.step1 {
  background: #FFF url(../images/stepnum.gif) no-repeat 20px 20px;
  *background: #FFF url(../images/stepnum.gif) no-repeat 20px 17px;
}

.step2 {
  background: #FFF url(../images/stepnum.gif) no-repeat 20px -80px;
  *background: #FFF url(../images/stepnum.gif) no-repeat 20px -83px;
}

.step3 {
  background: #FFF url(../images/stepnum.gif) no-repeat 20px -180px;
  *background: #FFF url(../images/stepnum.gif) no-repeat 20px -183px;
}

.step1 em,
.step2 em,
.step3 em {
  display: block;
  padding-left: 3px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #999;
}

.shortcut {
  background: #FFF;
}

.shortcut ul {
  list-style: none;
  margin: 0 0 0 85px;
  padding: 0;
  width: 370px;
  overflow: hidden;
}

.shortcut li {
  float: left;
  margin: 0 20px 15px 0;
  width: 100px;
  font-size: 14px;
  text-align: center;
}

.shortcut li a {
  display: block;
  padding: 2px 5px;
  *padding: 3px 5px 1px;
  border: 1px solid #278296;
  background: #F2F9FA;
}

.shortcut li a:hover {
  border: 1px solid #5FA6B6;
  background: #FFF;
  color: #666;
  text-decoration: none;
}

a.special {
  margin: 0 5px;
  padding: 1px 5px;
  *padding: 2px 5px 0;
  border: 1px solid #91C4D0;
  border-right: 2px solid #278296;
  border-bottom: 2px solid #278296;
  background: #DDEEF2;
  text-decoration: none;
  font-weight: 400;
}

a.special:hover {
  color: #666;
}

a.special:active {
  margin: 1px 5px 0 6px;
  border: 1px solid #5FA6B6;
  background: #F2F9FA;
  color: #666;
  outline: none;
}

.order-goods {
  position: absolute;
  width: 80%;
  background: #EEF8F9;
}

.order-goods table {
  border-collapse: collapse;
}

.order-goods td {
  background: #fff;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 22px;
}

/* 文件校验 */
.infobox {
  background: #F2F9FD none repeat scroll 0 0;
  border: 4px solid #BBDDE5;
  clear: both;
  margin: 60px 30px;
  padding: 20px;
  text-align: center;
}

.normal {
  font-weight: 400;
  font-size: 12px;
}

.marginbot {
  margin-bottom: 10px;
}

.nobdb {
  border-bottom: medium none;
}

.btn,
.button {
  display: inline-block;
  text-align: center;
  margin: 3px 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  font-weight: 400;
  background-color: #41a5e1;
  border: 1px solid #41a5e1;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  vertical-align: middle;
}

.btn:hover,
.button:hover {
  color: white;
  text-decoration: none;
}

.btn:disabled,
.button:disabled {
  opacity: .7;
  color: #c0c8cf;
}

.btn-def {
  background-color: #fff;
  border: 1px solid #dddddd;
  color: #41a5e1;
}

.btn-def:hover {
  color: #41a5e1;
}

.infotitle1 {
  margin-bottom: 10px;
  color: #09C;
  font-size: 14px;
  font-weight: 700;
}

em,
cite,
th {
  font-style: normal;
  font-weight: normal;
}

.left {
  float: left;
}

.lightfont {
  color: #CCCCCC;
}

.left .cfolder,
.left .ofolder {
  display: block;
  padding-left: 50px;
  line-height: 30px;
  background: url(../images/filecheck.gif) no-repeat -260px -50px;
  font-weight: 700;
  font-size: 14px;
  color: #2366A8;
}

.left .ofolder {
  background: url(../images/filecheck.gif) no-repeat -260px -100px;
  color: #2366A8;
  font-size: 14px;
}

.filenum {
  margin: 8px 0 0 20px;
}

.files {
  padding: 1px 0 1px 50px;
  background: url(../images/filecheck.gif) no-repeat -260px -150px;
}

.del {
  padding-left: 18px;
  background: url(../images/icon_deleted.svg) no-repeat;
  background-size: contain;
  color: #E8594D;
}

.edited {
  padding-left: 18px;
  background: url(../images/icon_edited.svg) no-repeat;
  background-size: contain;
  color: #E8594D;
}

.unknown {
  padding-left: 18px;
  background: url(../images/icon_unknown.svg) no-repeat;
  background-size: contain;
  color: #6189B8;
}

.correct {
  padding-left: 18px;
  background: url(../images/icon_correct.svg) no-repeat;
  background-size: contain;
  color: #70B759;
}

.tb2 th,
.tb2 td {
  background: transparent url(../images/bg_repx.gif) repeat-x scroll 0 bottom;
  padding: 5px 5px 5px 0;
  text-align: left;
}

.tb2 th {
  line-height: 21px;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

/* 模板管理 */
#messageATX {
  position: absolute;
  z-index: 100;
  display: none;
}

#messageATX .bgtable {
  width: 40px;
  height: 120px;
  border: solid 1px #000000;
  background: #FFFFE1;
}

#messageATX .colortable {
  height: 20px;
  border: solid 1px #FFFFFF;
  cursor: pointer;
}

#CurrTplStyleList {
  margin-top: 8px;
}

/* 标签部分的样式 */
.custab-div {
  background: #EEF8F9;
  border: 1px solid #BBDDE5;
  margin: 0 0 10px 0;
  padding: 1px;
}

#custabbar-div {
  background: #80BDCB;
  padding-left: 10px;
  height: 22px;
  overflow: hidden;
}

#custabbar-div p {
  margin: 2px 0 0 0;
}

.custab-front {
  background: #BBDDE5;
  line-height: 20px;
  font-weight: bold;
  padding: 4px 15px 4px 18px;
  border-right: 2px solid #278296;
  cursor: hand;
  cursor: pointer;
  margin: -5px -5px -5px -3px;
}

.custab-back {
  color: #FFF;
  line-height: 20px;
  padding: 4px 15px 4px 18px;
  border-right: 1px solid #FFF;
  cursor: hand;
  cursor: pointer;
}

.custab-hover {
  color: #FFF;
  background: #94C9D3;
  line-height: 20px;
  padding: 4px 15px 4px 18px;
  border-right: 1px solid #FFF;
  cursor: hand;
  cursor: pointer;
}

#custabbody-div {
  border: 2px solid #BBDDE5;
  padding: 10px;
  background: #FFF;
}

#custabbody-div img {
  vertical-align: middle;
}

.custab-body {
  border: 0px solid #BBDDE5;
  padding: 10px;
}

.cloud_close {
  position: relative;
  border-bottom: 1px solid #302828;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
}

.cloud_close img {
  position: absolute;
  right: 10px;
  top: 8px;
  border: none;
}

.Start315 {
  border: 1px solid #fad6a4;
  background: #f9f4df;
  padding: 10px;
  border-right: 5px;
  margin-bottom: 5px;
}

/* 模板列表 */
.temp-area {
  padding-top: 20px;
  background: #f4fafb;
  border: 1px solid #BBDDE5;
}

.temp-area .temp-info {
  border: none;
  background: #f4fafb;
}

.temp-area td {
  text-align: left;
}

.temp-area .temp-info table {
  border: none;
}

.temp-area .temp-info th {
  padding-top: 15px;
  color: #278296;
  text-align: left;
  line-height: 58px;
  padding: 0 0 0 100px;
  background: -webkit-gradient(linear, left top, right top, from(#c2ced2), to(#ddeef2));
  background: -webkit-linear-gradient(left, #c2ced2, #ddeef2);
  background: linear-gradient(90deg, #c2ced2, #ddeef2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ced2', endColorstr='#ddeef2', GradientType=1);
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
}

.default-tmp-pic {
  width: 570px;
  height: 350px;
}

.temp-list {
  padding: 0 35px 130px;
}

.temp-list .list-hd {
  clear: both;
  height: 48px;
  margin: 0;
  padding-left: 72px;
  border-bottom: 1px solid #ddeef2;
  color: #278296;
}

.temp-list .list-hd span,
.temp-list .list-hd .btn-upload {
  float: right;
}

.temp-list .list-hd .tit {
  float: left;
  height: 46px;
  width: 86px;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  border-bottom: 2px solid #278296;
}

.temp-list .list-bd {
  padding-top: 90px;
}

.temp-list .list-bd .items {
  margin-bottom: 90px;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}

.temp-list .temp-img-contain {
  width: 315px;
  height: 292px;
  margin: 0 10px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.temp-list .temp-img {
  cursor: pointer;
  width: 315px;
  height: 230px;
}

.temp-list .temp-btns {
  color: #939394;
  width: 160px;
  margin: 28px auto 0;
  font-size: 16px;
}

.temp-list .temp-btns span {
  display: inline-block;
  width: 57px;
  height: 20px;
  vertical-align: text-bottom;
}

.temp-list .btn-use {
  margin-right: 5px;
  background: url(../images/sprit.png) -1px -234px;
}

.temp-list .btn-use:hover {
  background: url(../images/sprit.png) -1px -262px;
}

.temp-list .btn-delete {
  margin-left: 5px;
  background: url(../images/sprit.png) 0 -295px;
}

.temp-list .btn-delete:hover {
  background: url(../images/sprit.png) 0 -323px;
}

.btn-upload {
  position: relative;
  margin-right: 38px;
}

.btn-upload input[type="file"] {
  position: absolute;
  right: 0;
  z-index: 2;
  opacity: 0;
  width: 130px;
  height: 45px;
}

.btn-upload span {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  background: url(../images/sprit.png) -71px -538px;
}

.btn-upload:hover span {
  background: url(../images/sprit.png) -70px -477px;
}

.btn-temp-online {
  position: relative;
  top: -17px;
  width: 163px;
  height: 60px;
  background: url(../images/sprit.png) -37px -699px;
}

.btn-temp-online:hover {
  background: url(../images/sprit.png) -36px -618px;
}

.btn-search {
  cursor: pointer;
}

/*panel style --by evelyn*/
.panel-hint {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0 auto;
  width: 795px;
  height: 502px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.panel-hint button {
  -webkit-appearance: none;
  display: inline-block;
  font-size: 18px;
  border: none;
}

.panel-hint .panel-hd {
  position: relative;
  width: 645px;
  padding-left: 30px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  background-color: #eee;
}

.panel-hint .panel-hd .hd-icon {
  position: absolute;
  left: 30px;
  width: 40px;
  z-index: 23;
  height: 40px;
}

.panel-hint .hd-cross {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: url(../images/close.png) no-repeat center;
}

.panel-hint .panel-bd {
  padding-left: 125px;
}

.panel-hint .panel-ft {
  text-align: center;
}

.panel-upload-temp .bd-up {
  margin-bottom: 45px;
}

.panel-upload-temp .bd-up h5 {
  font-weight: normal;
  font-size: 18px;
}

.panel-upload-temp .btn-review {
  color: #fff;
  width: 218px;
  height: 58px;
  padding-left: 45px;
  margin-right: 10px;
  background: url(../images/sprit.png) -1px -777px;
}

.panel-upload-temp .bd-up span {
  vertical-align: bottom;
  color: #747474;
}

.panel-upload-temp .bd-up i {
  vertical-align: bottom;
  font-style: normal;
}

.panel-upload-temp .step-hint {
  position: relative;
}

.panel-upload-temp .step-hint::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -50px;
  width: 45px;
  height: 45px;
  background: url(../images/sprit.png) 0 -500px;
}

.panel-process {
  display: none;
  height: 90px;
  width: 620px;
  padding: 50px 30px 0;
  border-radius: 15px;
}

.panel-process .icon-cross {
  display: inline-block;
  vertical-align: 10px;
  margin-left: 20px;
  width: 15px;
  height: 15px;
  background: url(../images/sprit.png) no-repeat 0 -438px;
}

.panel-word {
  font-size: 15px;
}

.panel-underline {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.panel-hint .btn-confirm {
  font-size: 18px;
  display: inline-block;
  margin-right: 30px;
}

.list-div .panel-ft a:link, .list-div .panel-ft a:hover {
  color: #192E32;
  text-decoration: none;
}

.list-div .panel-ft a:hover {
  font-weight: bold;
}

/*panel style --by evelyn*/
/*panel pop*/
.panel-par {
  position: relative;
}

.panel-pop {
  position: absolute;
  top: -45%;
  left: 210px;
  display: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.panel-pop::after {
  content: '';
  position: absolute;
  left: -14px;
  top: 32%;
  z-index: 2;
  border: 7px solid transparent;
  border-right: 7px solid rgba(255, 255, 255, 0.8);
}

.panel-hint-ERP {
  width: 536px;
  height: 338px;
}

.panel-hint-ERP .panel-hd {
  width: 386px;
}

.panel-hint-ERP .panel-bd {
  font-weight: normal;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

.panel-hint-ERP .panel-bd h5 {
  margin: 0;
  padding: 68px 0;
  font-weight: normal;
}

/*panel pop*/
/* loadBar style --by evelyn*/
.loadBar {
  display: inline-block;
  width: 565px;
  height: 10px;
  margin: 12px auto;
  border-radius: 20px;
  position: relative;
  background: #D4D9DD;
  -webkit-box-shadow: inset 0 0 2px 1px #d1d1d1;
          box-shadow: inset 0 0 2px 1px #d1d1d1;
}

.loadBar div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loadBar div span,
.loadBar div i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 20px;
}

.loadBar div i {
  width: 100%;
  -webkit-animation: move .8s linear infinite;
          animation: move .8s linear infinite;
  background: -webkit-gradient(linear, left top, right bottom, from(#D7AF46), color-stop(10%, #D7AF46), color-stop(10%, #FCC95A), color-stop(50%, #FCC95A), color-stop(50%, #D7AF46), color-stop(60%, #D7AF46), color-stop(60%, #FCC95A), to(#FCC95A));
  background: -webkit-linear-gradient(left top, #D7AF46 0%, #D7AF46 10%, #FCC95A 10%, #FCC95A 50%, #D7AF46 50%, #D7AF46 60%, #FCC95A 60%, #FCC95A 100%);
  background: linear-gradient(to right bottom, #D7AF46 0%, #D7AF46 10%, #FCC95A 10%, #FCC95A 50%, #D7AF46 50%, #D7AF46 60%, #FCC95A 60%, #FCC95A 100%);
  background-size: 8px 8px;
}

.loadBar .percentNum {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #52A0EB;
  background-color: #52A0EB;
  color: #fff;
}

.loadBar .percentNum:after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  width: 0;
  margin: 0 auto;
  border: 8px solid transparent;
  border-top: 8px solid #52A0EB;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

/* loadBar style --by evelyn*/
.form-header {
  width: 1200px;
  margin: 0 auto;
  padding: 17px 0;
}

.form-header .logo {
  width: 160px;
  height: 46px;
  background: url(../images/ecshop_logo_01.png) no-repeat center;
}

/*login page --by evelyn*/
.login-hd {
  background: none;
  height: 44px;
  padding: 40px 0 40px 50px;
}

.center-wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.center-wrap .top-ibg-wrap {
  width: 480px;
  height: 600px;
  float: left;
}

.center-wrap .top-ibg-wrap .top-ibg-480600 {
  display: block;
  width: 480px;
  height: 600px;
}

.center-wrap .z-bd {
  width: 720px;
  float: right;
  position: relative;
  overflow: hidden;
  padding-bottom: 42px;
  padding-top: 80px;
  height: 400px;
  /* background: url(../images/yunqi_bg_02.png) no-repeat bottom center; */
}

.z-bd .login-panel {
  position: absolute;
  left: 15px;
  z-index: 2;
  width: 302px;
  height: 372px;
  color: #A1A1A1;
  padding: 5px 70px 25px;
  overflow: hidden;
  -webkit-box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(359deg, #f1f9ff, #ffffff);
  background: linear-gradient(91deg, #f1f9ff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f9ff', endColorstr='#ffffff', GradientType=1);
}

.z-bd .login-panel .logo-text {
  margin: 0;
}

.z-bd .login-panel .logo-text .text {
  color: #d77f39;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.z-bd .login-panel .logo-text .logo {
  width: 162px;
  height: 42px;
  margin: 0 auto;
  background: url(../images/ecshop_logo_01.png) no-repeat center;
}

.z-bd .login-panel .ecshop-logo {
  padding: 46px 0 30px;
}

.z-bd .login-panel .yunqi-logo {
  padding: 30px 0 8px;
}

.z-bd .login-panel.cloud {
  left: auto;
  right: 15px;
  -webkit-box-shadow: -5px 2px 20px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 2px 20px rgba(0, 0, 0, 0.3);
}

.z-bd .login-cloud.ecshop {
  right: auto;
  background: -webkit-gradient(linear, left top, right top, from(#42A5E0), to(#56B4EB));
  background: -webkit-linear-gradient(left, #42A5E0, #56B4EB);
  background: linear-gradient(90deg, #42A5E0, #56B4EB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42A5E0', endColorstr='#56B4EB', GradientType=1);
}

.z-bd .login-panel.cloud {
  background: -webkit-linear-gradient(359deg, #f0e7df, #ffffff);
  background: linear-gradient(91deg, #f0e7df, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e7df', endColorstr='#ffffff', GradientType=1);
}

.z-bd .login-cloud.ecshop .btn-tab {
  background: url(../images/ecshop-n.png) no-repeat center center;
}

.z-bd .login-cloud.ecshop .btn-tab:hover {
  background: url(../images/ecshop-h.png) no-repeat center center;
}

.login-panel .panel-hd {
  padding-bottom: 10px;
  line-height: 1;
  font-size: 18px;
  margin: 18px 0;
  text-align: center;
  font-weight: normal;
}

.login-panel .controls {
  position: relative;
  height: 51px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.login-panel .controls.first {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
}

.login-panel .controls.two {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.login-panel .controls.two.active {
  border-radius: 0;
}

.login-panel .controls.third {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  display: none;
}

.login-panel .controls.third.active {
  display: block;
}

.login-panel .controls.last {
  border: none;
}

.login-panel input[type=text], .login-panel input[type=password] {
  -webkit-appearance: none;
  border: none;
  background-color: #fff;
  color: #8a8a8a;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-indent: 50px;
  -webkit-box-shadow: inset 30px 30px 0 30px #fff;
          box-shadow: inset 30px 30px 0 30px #fff;
}

.login-panel .panel-bd {
  height: 255px;
  overflow: hidden;
}

.controls .iconphone {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 10;
}

.btn-a {
  display: block;
  color: #FFF;
  width: 180px;
  font-size: 16px;
  line-height: 51px;
  text-align: center;
  background-color: #03ABD0;
  border: 0;
  border-radius: 4px;
  letter-spacing: 4px;
  margin-top: 0px;
  -webkit-box-shadow: 0 1px 0 #ccc;
          box-shadow: 0 1px 0 #ccc;
}

.login-panel .btn-a {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

.login-panel .bside {
  margin-top: 12px;
  overflow: hidden;
  height: auto;
}

.login-panel .bside input[type="checkbox"] {
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px 8px 0 0;
}

.login-panel .bside label {
  color: #666;
  float: left;
}

.login-panel .bside a {
  float: right;
  display: inline-block;
  text-align: right;
}

.login-panel .bside .link-forget {
  float: left;
  margin-left: 25px;
}

.login-cloud {
  position: absolute;
  left: auto;
  right: 15px;
  z-index: 1;
  padding: 70px 25px 20px;
  margin: 0 auto;
  width: 200px;
  height: 312px;
  color: #fff;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#ee8035), to(#fba469));
  background: -webkit-linear-gradient(left, #ee8035, #fba469);
  background: linear-gradient(90deg, #ee8035, #fba469);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee8035', endColorstr='#fba469', GradientType=1);
}

.ecshop {
  right: auto;
  left: 15px;
}

.login-cloud .hd {
  line-height: 50px;
  font-size: 18px;
}

.login-cloud p {
  font-size: 16px;
}

.login-cloud .hd span {
  color: #c2bfbd;
}

.login-cloud .btn-tab {
  display: block;
  width: 110px;
  height: 110px;
  background: url(../images/cloud-n.png) no-repeat center center;
  margin: 50px auto 20px;
}

.login-cloud .btn-tab:hover {
  background: url(../images/cloud-h.png) no-repeat center center;
}

.login-cloud img {
  width: 100%;
  cursor: pointer;
}

.cloud-passw {
  margin-top: 20px;
}

.personal-set {
  position: relative;
}

.personal-set .panel-hint {
  display: none;
  position: absolute;
  margin: 0;
  left: -7px;
  top: 10px;
  height: auto;
  width: 82px;
  padding-top: 10px;
  background-color: transparent;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.personal-set .panel-hint ul {
  position: relative;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.personal-set .panel-hint ul:before {
  content: '';
  position: absolute;
  top: -9px;
  right: 35px;
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

#submenu-div .personal-set li {
  float: initial;
  padding: 0;
  margin: 0;
  border-left: none;
  color: #ddeef2;
}

.personal-set li a {
  display: block;
  padding-left: 5px;
  line-height: 20px;
  color: #696969 !important;
  background-color: transparent;
}

.personal-set li a:hover {
  color: #000;
  background-color: #ddeef2;
  -webkit-box-shadow: 0 1px 1px 1px #ddd;
          box-shadow: 0 1px 1px 1px #ddd;
}

.personal-set .btn-first a {
  border-radius: 5px 5px 0 0;
}

.personal-set .btn-first a:hover {
  -webkit-box-shadow: 0 1px 1px 1px #ddd;
          box-shadow: 0 1px 1px 1px #ddd;
}

.personal-set .btn-exit a {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #ddd;
}

/*login page --by evelyn*/
/*order list page --by evelyn*/
.btn-fixed {
  position: fixed;
}

.btn-ERP {
  position: relative;
  float: right;
  top: -4px;
  width: 142px;
  height: 34px;
  color: #333;
  line-height: 34px;
  text-align: center;
  background: url(../images/sprit.png) -59px -1004px;
}

.btn-ERP i {
  font-style: normal;
}

.btn-ERP:hover {
  color: #333;
  background: url(../images/sprit.png) -59px -1055px;
}

.panel-order-query {
  width: 825px;
  height: auto;
  top: 10%;
  padding-bottom: 40px;
}

.panel-order-query .panel-hd {
  width: 100%;
}

.panel-order-query .panel-bd {
  padding: 40px 30px;
}

.panel-order-query tr,
.panel-order-query td,
.panel-order-query td div {
  line-height: 2;
}

/*order list page --by evelyn*/
#turn-page {
  text-align: right;
}

/*云起激活页面 --by evelyn*/
.panel-icloud {
  display: none;
  width: 820px;
  height: 407px;
  background: #fff;
  border-radius: 5px;
  padding: 20px 40px;
}

.panel-icloud .panel-cross {
  text-align: right;
  color: #7e7e7e;
}

.panel-icloud .panel-cross span {
  cursor: pointer;
}

.panel-icloud .panel-title .tit {
  font-size: 22px;
}

.panel-icloud .panel-title p {
  font-size: 14px;
}

.panel-icloud .panel-left {
  text-align: center;
  float: left;
  width: 300px;
  padding: 60px 70px 30px 30px;
  border-right: 1px dashed #ddd;
}

.panel-icloud .panel-left span {
  color: #f6933e;
  font-size: 20px;
}

.panel-icloud .panel-left p {
  color: #f6933e;
  font-size: 14px;
  padding-bottom: 60px;
}

.panel-icloud .panel-left a {
  display: block;
  color: #f6933e;
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-radius: 5px;
  background: #fff7f2;
  border: 1px solid #f79327;
}

.panel-icloud .panel-left a:hover {
  text-decoration: none;
}

.panel-icloud .panel-right {
  float: left;
  width: 300px;
  height: 272px;
  padding: 0 30px 0 70px;
}

.panel-icloud .panel-right h5 {
  display: block;
  width: 70px;
  height: 24px;
  margin: 0 auto;
  background: url(../images/icloud-sm.png) no-repeat;
  text-indent: -9999px;
}

.panel-icloud .panel-right iframe {
  width: 300px;
  height: 200px;
}

.ban-area {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #eee;
}

.ban-area .inn {
  width: 950px;
  /*margin: 0 auto;*/
}

.ban-area iframe {
  float: left;
}

.ban-area iframe.first {
  margin-right: 50px;
}

/*遮罩*/
.mask-black {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(51, 51, 51, 0.8);
}

.copy-right {
  line-height: 68px;
  color: #777777;
  font-size: 14px;
  text-align: center;
}

.analysis {
  width: 600px;
  float: left;
}

.panel {
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 15px;
  overflow: hidden;
}

.panel .group-title {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8;
  margin: 0 0 10px 0;
}

.panel table {
  width: 100%;
}

.panel th {
  text-align: right;color: #999;
}

.panel .zebra-table {
  border-collapse: collapse;
  width: 240px;
  float: left;
  margin: 0 20px 10px;
}

.panel .zebra-table tr:nth-child(even) {
  background-color: #e6f7ff;
}

.panel .zebra-table th {
  font-weight: bold;
  text-align: left;
  padding-left: 40px;
}

.panel .zebra-table td {
  height: 35px;
  padding-right: 40px;
}

.access-list {
  padding: 0;
  overflow: hidden;
}

.access-list li {
  float: left;
  width: 50%;
  list-style: none;
  padding: 0 0 10px 10px;
}

.access-list .item {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 20px;
  overflow: hidden;
}

.access-list .item img {
  float: left;
  margin-right: 20px;
}

.access-list .item p {
  font-size: 14px;font-weight: bold;
}

.access-list .item b {
  font-size: 30px;
  color: #999;
}

.form-horizontal input,
.form-horizontal .button {
  vertical-align: top;
}

.form-horizontal .cal {
  margin-top: 0;
  vertical-align: top;
}

.form-horizontal .button {
  margin: 0;
}
